[2014-05-05 11:38] chrisdone opened #1 "Make nice slugs for referencing a Stackage"
If we're building a new version daily of Stackage for people to use in the repo, where they might specify something like:

[code]

It might be nice to have instead the date involved:

[code]

Or something in a similar format. Makes it a bit easier for people to check their file and do an ordering comparison in their head, maybe also for discussion.

[2014-05-05 11:46] chrisdone opened #2 "Educate community on adding stuff to Stackage"
One problem facing adoption of Stackage is assurance that it's really easy to add to and maintain packages on Stackage.

So it's worth taking extra care to make a really easy step 1, step 2, step 3, done guide on stackage.org.

By comparison, [MEPLA](http://melpa.milkbox.net/#/) is an Emacs package archive which pulls from Github repos, with a submission process similar to Stackage (open a pull re

[2014-05-05 11:55] chrisdone opened #3 "Educate community on difference between exclusive/inclusive"
We have these choices on Stackage repositories:
1. Exclude anything that isn't vetted on Stackage. So everything will build together.
2. Include packages outside of Stackage. So everything in Stackage will build together, but packages from Hackage may also be installed, without build plans or compiles necessarily working.

Something to think about explaining to users.

[2014-05-08 09:04] chrisdone opened #4 "Make blog post about next stackage release"
Need to think about the main points to discuss:
- GHC 7.8.
- Automated running of test suites, across several GHC versions, gives stability assurances.
- Stackage repo for Cabal-installing.
- Guide for submitting packages for authors / maintenance responsibility.
- Request people submit their packages to be ready for the beta.

See also #1, #2, #3.

@snoyberg Please add any points to this ticket w

[2014-05-13 10:37] chrisdone opened #5 "Styling for stackage-server"

[2014-05-15 10:20] #4 closed, assigned to chrisdone

[2014-06-17 09:50] snoyberg opened #6 "Internal Server Error"
http://www.stackage.org/stackage/160b97ce7459820d4de720d6a867b85297ab4351/package/double-conversion-0.2.0.6.tar.gz

[2014-06-17 10:10] #6 closed, assigned to nobody

[2014-07-15 07:11] chrisdone opened #7 "Reudce length of recommended snapshots before announcing"
It should only be a few, and ones by us.

[2014-07-30 08:28] snoyberg opened #8 "Add more metadata (e.g., list of packages) to Stackage display pages"
Maybe we should allow downloading the entire Stackage bundle.

[2014-07-30 14:02] #8 closed, assigned to nobody

[2014-08-06 08:49] snoyberg opened #9 "Create a FAQ"
Put in some FAQ entries at https://github.com/fpco/stackage/wiki/Stackage-Server-FAQ and link from the Stackage Server homepage.

[2014-08-24 09:50] #5 closed, assigned to chrisdone

[2014-08-24 09:51] #1 closed, assigned to chrisdone

[2014-08-24 09:51] #2 closed, assigned to chrisdone

[2014-08-24 09:51] #7 closed, assigned to nobody

[2014-08-24 09:52] chrisdone opened #10 "Simplify/rejig snapshot page"

[2014-08-24 09:53] chrisdone opened #11 "Add Getting Started section on homepage"

[2014-08-24 10:06] #9 closed, assigned to chrisdone

[2014-08-24 10:19] #10 closed, assigned to snoyberg

[2014-08-25 08:16] #3 closed, assigned to chrisdone

[2014-08-25 08:17] #11 closed, assigned to snoyberg

[2014-08-25 18:50] snoyberg opened #12 "Expand/collapse doesn't work"
Actions:
1. Go to: http://www.stackage.org/stackage/aecbf72b568a63e86a971311fee5475f076043cc
2. Click on "Copy the remote..." collapse

Expected: step 2 expands

Actual: step 1 expands

[2014-08-27 04:24] #12 closed, assigned to snoyberg

[2014-10-27 22:27] chrisdone opened #13 "Packages page"
I've made an initial start on the markup/CSS for the packages page. Screenie below. @snoyberg Thoughts?

Some thoughts of my own:
- Perhaps the README should be collapsed by default with say, just the first "blurb" before Learn More. Either this could be done by height with an attractive gradient at the bottom to show it's cut off, and/or we could support that if you put a `---` or something to in

[2014-11-03 18:24] #13 closed, assigned to chrisdone

[2014-11-03 18:35] chrisdone opened #15 ""Like" support on package pages"
I've filled in a basic stub for the Like button on packages. Here's what it looks like as implemented:

![package](https://cloud.githubusercontent.com/assets/11019/4887686/cef44932-6386-11e4-97c8-d2eda9615366.png)

Idea is simple:
- Hit the thumbs up button.
- Thumbs up button goes dark blue (the UI stub does this) and the number is incremented.
- Once liked the button stays blue for that user and

[2014-11-03 18:50] chrisdone opened #16 "Tags for packages"
As implemented in the stub, we have this tag list:

![package](https://cloud.githubusercontent.com/assets/11019/4887872/9fafbe5c-6388-11e4-8058-cccef07a0be8.png)

I've already added a `Tag` table to the model:

[code]

Requirements:
- At the moment that list is static and comes from [here](https://github.com/fpco/stackage-server/blob/7ad48a91ddc4d37991c05bed80ed7736424c7dd3/Handler/Package.hs#L55.

[2014-11-03 18:56] chrisdone opened #17 "Tags pages"
We just want two simple pages for tags:

* `/tags` - One to show a list of all tags, which will link to…
* `/tag/<foo>` - A page showing all packages tagged by the given tag.
* Then we can make the package page's tag list link e.g. `audio` to the tag `audio`'s page.

I haven't made any stub templates/handlers/style for these, so you'll need to make one for each. Something basic like the `/snapshot

[2014-11-03 19:01] chrisdone opened #18 "Finish the package list page"
The package list page `/package` needs finishing:
- Remove fixme banner.
- Add synopses.
- Style something like [the haddock pages](http://www.stackage.org/haddock/8cd5d39814d13a396d67f1119e61189bcb825e05/index.html)

Assigned to myself but @DanBurton may steal it if I don't finish it in the morning.

[2014-11-04 09:03] snoyberg opened #19 "Restyle "recommended snapshots" list on homepage"
Discussed briefly yesterday, just creating an issue to track it.

[2014-11-06 09:17] snoyberg opened #20 "Add sitemap.xml file"
We should give higher priority for homepage and package pages vs individual documentation pages.

[2014-11-10 09:44] snoyberg opened #21 ""Fork me on Github" on the site"
This is to maximize the impact of our move to open source stackage.org

[2014-11-10 09:51] snoyberg opened #22 "Blog post for next Stackage release"
- Package pages
- Comments
- README/Changelog
- Haddocks links
- Tags/likes (maybe)

[2014-11-11 16:26] DanBurton opened #23 "logout and login shouldn't send me to root"
I would prefer to go back to the page I was looking at just before the login/logout.

[2014-11-11 20:16] #23 closed, assigned to nobody

[2014-11-12 04:57] snoyberg opened #24 "Fix favicon"
Currently the favicon for stackage.org is the standard Yesod favicon. While nice, it would be nicer if it was either something Stackage-specific or FP Complete-specific. You have any thoughts?

[2014-11-13 15:07] #18 closed, assigned to chrisdone

[2014-11-13 15:07] #19 closed, assigned to chrisdone

[2014-11-13 15:10] #24 closed, assigned to chrisdone

[2014-11-13 15:14] #21 closed, assigned to chrisdone

[2014-11-13 19:31] #15 closed, assigned to nobody

[2014-11-13 20:24] chrisdone opened #25 "Apply these constraints on prod"
Once we deploy the new `Tag`/`Like` tables will be made so we can run these correctness constraints.

[code]

We can add some indexes for speed if we want, once we've got some data in these tables.

I already added this:

[code]

[2014-11-13 20:29] #25 closed, assigned to snoyberg

[2014-11-13 21:21] #16 closed, assigned to chrisdone

[2014-11-14 05:06] snoyberg opened #27 "Bootstrap styling is missing?"
For example:

![screenshot from 2014-11-14 07 05 55](https://cloud.githubusercontent.com/assets/49415/5041523/c4ba8834-6bcc-11e4-8dd2-6264926237fd.png)

[2014-11-14 05:58] snoyberg opened #28 "Change remote-repo name to include snapshot hash"
Pinging @chrisdone. I'm working on fixing cabal sandbox right now, and I realized we don't want to use the same repo name (`stackage`) in different sandboxes. Instead, we should just the display on each snapshot page to be `stackage-SHA`. I can make this change myself, just pinging you in case you have any reservations.

[2014-11-14 11:43] #28 closed, assigned to chrisdone

[2014-11-14 12:07] #27 closed, assigned to chrisdone

[2014-11-14 12:53] DaveCTurner opened #29 "Cache-friendly headers"
Hi,

At the moment, Stackage doesn't seem to encourage caching of its results, even though by my reckoning you can be quite aggressive about caching results with a changeset ID in the URL.

[code]

I think you can assert that the `00-index.tar.gz` file will never change, something like:

[code]

Cheers,

[2014-11-16 08:28] snoyberg opened #30 "1 likes is improper grammar"
Just a minor grammar issue about pluralization.

![screenshot from 2014-11-16 10 27 08](https://cloud.githubusercontent.com/assets/49415/5060864/37783920-6d7b-11e4-80bd-15fef4226f7c.png)

[2014-11-16 14:45] chrisdone opened #31 "Wrong version for metadata of packages"
Seems to be getting the latest package for metadata using lexicographic comparison on the version. Example: http://www.stackage.org/package/bytestring

[2014-11-16 17:15] #31 closed, assigned to chrisdone

[2014-11-17 09:31] snoyberg opened #32 "Optimize queries on production"
Probably just missing some queries. As @chrisdone reported:

[code]

[2014-11-17 09:58] snoyberg opened #33 "Migrate packdeps functionality to stackage.org"

[2014-11-18 13:24] #32 closed, assigned to chrisdone

[2014-11-19 09:04] #29 closed, assigned to nobody

[2014-11-20 09:26] snoyberg opened #34 "Banned tag table"

[2014-11-20 09:26] snoyberg opened #35 "Tag vote/unvote button"

[2014-11-20 13:57] #34 closed, assigned to chrisdone

[2014-11-20 14:15] #35 closed, assigned to snoyberg

[2014-11-20 16:08] nomeata opened #36 "Stackage-Only Page view"
Currently, http://www.stackage.org/package lists all packages. I would expect only Stackage package to be listed there, and possibly have a secondary view for all packages. This would strenghten Stackage’s appearance to users  as a closed¹ set of curated packages. Assuming more and more people start to use Stackage by default, and Hackage only as “this other unstable thing”, this would increase de

[2014-11-20 16:58] #22 closed, assigned to chrisdone

[2014-11-21 10:57] cies opened #37 "Put a date in the stackage URL"
The current Stackage URL does not indicate when it was build, and that makes it difficult to quickly find how old the snapshot is that a particular project is/was known to build with.

On top of that I think the current line is _very_ long:

[code]

Would something shorter and more descriptive not be possible?

[code]

Currently it is a hex code; maybe a base64 (possibly without special chars, so

[2014-11-21 11:58] ndmitchell opened #38 "CHANGES.txt should be detected as a changelog"
Hackage detects that hlint has a changelog, but Stackage doesn't. I name my changelogs CHANGES.txt (not for any great reason, its just what I've always done) which Hackage is happy enough with it. Maybe should Hackage be equally permissive?

[2014-11-23 13:05] #38 closed, assigned to nobody

[2014-11-23 20:43] ndmitchell opened #39 "Whitespace in CHANGES.txt should be preserved"
As an example, see the changelog at http://www.stackage.org/package/hlint (no indentation), vs the source at https://github.com/ndmitchell/hlint/blob/master/CHANGES.txt (indentation). I always indent the non-version lines by 4 spaces, which makes it quite a bit more readable.

The HTML served does indeed have 4 leading spaces on each line, but because its HTML, that means nothing without `white-sp

[2014-11-24 11:11] #39 closed, assigned to snoyberg

[2014-11-27 10:55] snoyberg opened #40 "Move Google authentication away from OpenID"
It's been deprecated, need to use the new OAuth module in yesod-auth.

[2014-11-27 10:59] #37 closed, assigned to nobody

[2014-11-27 11:28] snoyberg opened #41 "Add pagination to "all snapshots" list"
The page is starting to get pretty big. I think 50 per page should be good.

[2014-11-27 12:10] #40 closed, assigned to snoyberg

[2014-11-27 15:43] snoyberg opened #42 "Create and populate a deprecated table"
We'd likely use it to filter the list of packages. The Hackage API for this is:

https://hackage.haskell.org/packages/deprecated.json

We should populate it from the same Data.Hackage code that's populating the other tables now, so that the work is done on the Jenkins server and not the live web servers.

[2014-11-28 10:20] snoyberg opened #43 "Provide homepage links on package pages"
Maybe there's some other information that we should add as well, not certain.

[2014-12-01 12:58] snoyberg opened #44 "Community links"
We should provide links to community resources like the stackage Google group somewhere prominent, possibly the homepage.

[2014-12-02 12:29] UnkindPartition opened #45 "Fails on packages with dashes"
I tried to upload a bundle with an embedded tarball `monad-classes.tar.gz`.

I got this:

![stackage](https://cloud.githubusercontent.com/assets/24844/5262512/559dde94-7a2f-11e4-935c-0b06a87dcb16.png)

It looks like at some point stackage-server assumes that everything after the dash is the version, which may not be true.

[2014-12-02 14:34] #45 closed, assigned to nobody

[2014-12-05 00:43] sol opened #46 "Use haddock-library for parsing package descriptions"
Hackage supports markup in package descriptions.  The syntax tries to resemble Haddock syntax.  Stackage does not interpret markup in package descriptions yet (e.g. looking at [hspec](http://www.stackage.org/package/hspec), the list is not marked up and URLs in `<..>` are not turned into links).

The [Haddock parser is now available as a separate library](http://hackage.haskell.org/package/haddock

[2014-12-07 12:25] #46 closed, assigned to nobody

[2014-12-08 17:37] snoyberg opened #47 "Add Hoogle capabilities to stackage.org"
Need to start embedding textual Hoogle database in doc bundles.

* [x] Modify the documentation unpacker to generate Hoogle binary databases. If the database in a given location can't be loaded, delete the old database and try generating a new one (to deal with upgraded Hoogle versions). https://github.com/fpco/stackage-server/blob/master/Handler/Haddock.hs#L213
* [x] Create a web UI for accessing

[2014-12-09 11:33] chrisdone opened #48 "Update homepage to be friendlier for newbies"
Design doc here:

https://docs.google.com/a/fpcomplete.com/document/d/1p7qnl9momKpMBbUjjXyt-4EbYxLQ_yik-1lfnGKvxWY/edit

[2014-12-09 14:13] snoyberg opened #49 "Better support for inclusive snapshots"
The working plan is to promote inclusive snapshots as the primary means of accessing nightlies and LTS. To do so, we need to make some improvements:
- [x] When listing documentation, actually check if documentation for that package exists before giving a link. Currently, it's assumed that any package in a snapshot has documentation.
- [ ] Inclusive snapshots currently hard-code all additional pack

[2014-12-10 02:23] geraldus opened #50 "[Question] Can't install package: configured package depends on a non-library package"
I'm using [this standalone inclusive snapshot](http://www.stackage.org/snapshot/2014-12-09-ghc78-inc) and I want to install `hsdev`. Default available version is 0.1.2.5; it depends on `haddock-api >= 2.15.0`,  when I try to install `hsdev` I have following error message:

This happens both on OS X and Debian installations. I have `haddock` v2.15.0 in `~/.cabal/bin` and v2.14.4 in `/usr/local/bin`

[2014-12-10 08:43] snoyberg opened #51 "Use cabal.config with constraints as primary means of using Stackage"
Reasoning:
1. Backwards compatible with older versions of cabal-install
2. Plays well with the move for more emphasis on inclusive. In particular: no need to worry about newly released packages not being included
3. Makes it trivial for people to tweak the package set if desired
4. More transparent
5. Can still provide the remote-repo approach, which will automatically function as the exclusive ve

[2014-12-10 12:24] #50 closed, assigned to nobody

[2014-12-11 05:42] #49 closed, assigned to snoyberg

[2014-12-11 05:42] snoyberg opened #52 "Updated snapshot pages"
Follow up from #49.

We haven't fleshed out everything we want to do yet, so we should plan on adding items to the description. Here's what we know so far:

Info:
- Recommended installation will be to use cabal.config. We'll have URLs like the following:
  - `/lts/cabal.config` for latest LTS release
  - `/lts/2/cabal.config` for latest LTS in the 2 series
  - `/lts/2.3/cabal.config` for LTS 2.3 s

[2014-12-11 09:48] snoyberg opened #53 "Create installation instructions page"
For people who don't yet have Haskell/GHC installed

[2014-12-11 09:49] snoyberg opened #54 "Create authors page"
Will include most of the content on the current homepage. Should just be part of the content repo.

[2014-12-11 10:05] snoyberg opened #55 "Updates to package page"
- [x] Just one column of content
- [x] Collapse top bar to take up less space
- [x] Have "nightly" and "lts" docs links instead of last ten snapshots. LTS is a link to LTS, version number is a link to the docs.
- [x] Package name and synopsis
- [x] Tags/likes (remove download stats, won't be meaningful after cabal.config change)
- [x] Author/license/homepage
- [x] README
- [x] ChangeLog
- [x] Deps

[2014-12-11 10:32] #43 closed, assigned to nobody

[2014-12-12 10:10] #53 closed, assigned to snoyberg

[2014-12-15 08:27] snoyberg opened #56 "Double-login shouldn't be a problem"
Actions:
1. Log into your account
2. Go to /auth/login
3. Log in a second time

Expected: it just works

Actual: get a message about email address already in use

We should instead detect that the email address being specified is already part of the current account and treat the action as a no-op

[2014-12-15 09:46] #52 closed, assigned to chrisdone

[2014-12-15 09:50] #54 closed, assigned to chrisdone

[2014-12-15 09:52] snoyberg opened #57 "Fix login link in top-bar"

[2014-12-15 10:09] #44 closed, assigned to chrisdone

[2014-12-15 12:05] #57 closed, assigned to snoyberg

[2014-12-15 12:29] #48 closed, assigned to snoyberg

[2014-12-15 12:31] #55 closed, assigned to chrisdone

[2014-12-15 13:01] #36 closed, assigned to snoyberg

[2014-12-15 13:17] #56 closed, assigned to snoyberg

[2014-12-15 13:30] #51 closed, assigned to snoyberg

[2014-12-15 20:06] snoyberg opened #58 "Module listing on package page is not prominent enough"
We should have something to make the module links stand out more prominently.

[2014-12-15 20:18] #30 closed, assigned to nobody

[2014-12-15 22:59] rvion opened #59 "Package view does't list all modules (more exlanation in the description)"
actually, **It lists them all, but not in a visible area.**
Scrollbar are invisible by default (chrome + mac)
- I find it confusing
- *\* It doesn't give a proper overview of the project**
- how about using something like http://www.jstree.com/ is space is the only conern ?

As of now, I'd rather have the maxwidth value much bigger

![screen shot 2014-12-15 at 23 49 53](https://cloud.githubusercon

[2014-12-15 23:09] rvion opened #60 "Visual noise on package page"
I loove stackage, but it'm not so happy with the visual noise at the bottom of package view.
- I really think it is really distractive.
- Those suggestions are not related to my interest
- Tutorial about type families and pokemon won't sell haskell that much :)
- I know that disqus allow to configure thread suggestion visibility, so discuss could stay here even if we remove suggestions.

![screen

[2014-12-15 23:47] rvion opened #61 "New homepage is both better and worse"
I see several flaws with stackage new home page:
(please note I really like and support stackage and only try to help giving my opinion :) )

I think that the first paragraph, for instance, misses his goal :

[code]
- Stackage is **a** stable source of Haskell packages --> only 1 source ? I thought it was a tool ? or a website ?
- Stackage is a **stable source** of Haskell packages --> What is a s

[2014-12-15 23:58] rvion opened #62 "Unclear sections (inconsistent colors + missing titles) on package page"
Here is a few remarks I had about package page:
What do you think ? :)
- Missing content titles (keyword "description", "tags", "included in", "modules", etc) prevent from direct readability. It could be on the left, bigger and stronger than regular text, and eye would directly see sections.
- Without those sections titles, it's hard for instance to differentiate BSD3 licened and the first module,

[2014-12-16 11:50] UnkindPartition opened #63 "Put a newline at the end of cabal.config"
The generated cabal.config doesn't end with a newline. That hurts the diffs.

[2014-12-16 11:55] UnkindPartition opened #64 "Allow to create snapshots programmatically"
I have an automated process to generate `bundle.tar.gz`, but at the end I need to go to the website and upload it manually. It'd be nice if I could just send a basic-authed http post.

[2014-12-16 11:59] #58 closed, assigned to snoyberg

[2014-12-16 12:46] #64 closed, assigned to nobody

[2014-12-16 15:25] #63 closed, assigned to nobody

[2014-12-16 15:26] UnkindPartition opened #65 "No constraints for bundled packages in generated cabal.config"

[2014-12-17 05:43] #65 closed, assigned to nobody

[2014-12-17 07:57] #62 closed, assigned to nobody

[2014-12-18 08:01] #61 closed, assigned to nobody

[2014-12-20 16:32] 11Kilobytes opened #66 "Yesod fails to install using homebrew ghc and cabal-install"
I tried to set up a yesod project as follows:

[code]

However, I got the following error:

[code]

I've install GHC and cabal-install using homebrew.
Versions:

[code]

This was crossposted here: http://stackoverflow.com/questions/27582039/yesod-with-stackage-is-failing-to-install-due-to-dependency-problems/27582138#27582138

[2014-12-20 17:09] creichert opened #67 "System-wide Stackage Install"
While there is plenty of documentation for setting up stackage in a cabal project, I don't think it's completely clear how to setup a system-wide stackage install.

For example:

I have a fresh install of ghc and cabal, now I want to install yesod-bin and start a new project. However, I want to install yesod-bin from a stackage snapshot.

Currently, most of the instructions are for existing cabal

[2014-12-22 18:26] snoyberg opened #68 "Use "installed" constraints for core packages"
Really a split-off of #66, so pinging @11Kilobytes. Also @creichert and @chrisdone will be interested I think.

Currently, our cabal.config files say things like `Cabal == 1.18.1.1`, but this will cause problems in two circumstances:
- A patched GHC (like homebrew) that has a different Cabal version
- New patch releases of GHC (7.8.4) that may bump the version

Instead, we can consider using the "

[2014-12-23 09:38] #60 closed, assigned to nobody

[2014-12-23 12:21] #68 closed, assigned to snoyberg

[2014-12-23 15:42] #66 closed, assigned to nobody

[2014-12-25 13:05] snoyberg opened #69 "Better styling/prominence for module listing page"
I just added this, because (1) it was trivial to add, and (2) I thought it would be useful for at least one person (i.e., me). You can see it live at:

http://www.stackage.org/nightly/docs

What this still needs is:
- [ ] A better styling
- [ ] Links added from the snapshot homepage itself (specifically not added due to previous point)

We can also scrap the feature entirely if it turns out to be

[2014-12-29 11:26] #69 closed, assigned to chrisdone

[2014-12-29 11:27] #67 closed, assigned to nobody

[2014-12-29 11:27] #33 closed, assigned to nobody

[2015-01-04 12:08] snoyberg commented on #47
When this is complete, I think we should also add a Hoogle search box on the homepage, which will search the most recent LTS release.

[2015-01-04 12:10] ndmitchell commented on #47
Btw, if you have any stats on how many searches are done, what the CPU/Memory cost is, how many searches take > some threshold etc. I'd be very curious. I also notice you have "instant search" turned off, is that deliberate for performance reasons? Or just not something you knew could be turned on?

[2015-01-04 12:12] snoyberg commented on #47
We have a completely separate web UI for Hoogle, so we can't take advantage of instant search automatically.

We're still working out some issues with the Hoogle database generation itself, so this isn't quite "prime time" yet. Once that's sorted, we can start collecting stats and making UI improvements.

[2015-01-04 12:14] ndmitchell commented on #47
I'm working on simplifying and speeding up database generation, so I wouldn't invest too much effort before I do that.

[2015-01-04 12:15] snoyberg commented on #47
It's issues on our end, regarding the ordering of unpacking of our (very large) documentation tarballs and how that impacts the blocking nature of things.

[2015-01-04 16:14] snoyberg commented on #47
@ndmitchell OK, I implemented the improvements that I wanted to make, so now I can report back on the Hoogle front itself. I'm seeing two pain points:

1. Merging the databases is taking a *lot* of memory (1.5 GB or so). While on my dev machine that's no big deal, it's quite a burden on a live web server. So ideally we'd pre-compute the Hoogle binary databases instead of generating them live, exce

[2015-01-04 16:21] snoyberg commented on #47
By the way, if it would be more useful, I can move that comment into a new issue against the Hoogle issue tracker.

[2015-01-04 17:08] ndmitchell commented on #47
The comments are just as useful here - the Hoogle bug tracker needs a cleanup anyway, so they might be easier to find here at the moment :)

* 1.5Gb is both less than I was expecting, and doesn't seem that huge a burden on a live web server - maybe my 32Gb web servers are corrupting me.
* I don't ever expect to have complete version independence. I'll probably go for 0.0.1 releases maintaining dat

[2015-01-04 17:10] snoyberg commented on #47
Keeping the version *in sync* isn't difficult. The difficulty is that we want to provide Hoogle capabilities for historic snapshots, of which there are many. I suppose we could have a job that, each time we bump the Hoogle versions, goes through all of our old snapshots and regenerates the Hoogle databases.

[2015-01-04 17:14] ndmitchell commented on #47
I don't know how long it takes at the moment, but I'm targeting a time of ~5 mins to generate a database for all of Stackage.

[2015-01-04 19:50] snoyberg commented on #47
I've just set it up so that Hoogle binary databases are persisted to S3 based on both the snapshot ID and the Hoogle library version. I'm generating my libraries on my dev machine and uploading them to S3 (we *should* automate that process and have it as part of our Jenkins jobs), and I've also disabled database creation/merging on the main server, which avoids the memory issue.

[2015-01-04 19:54] snoyberg opened #70 "Add Hoogle database generation to responsibilities of the cabal loader executable"
Still need to figure out how many versions back to go. Perhaps just have a rule of "most recent LTS, most recent nightly"?

[2015-01-05 07:13] #70 closed

[2015-01-05 07:14] snoyberg commented on #47
I think this issue is now resolved, as the resource problems have been fixed. Closing, thanks @mgsloan and @ndmitchell.

[2015-01-05 07:14] #47 closed

[2015-01-05 08:48] snoyberg commented on #20
We may want to go farther and have robots.txt ban documentation pages. This would also prevent crawlers from forcing us to do a lot of unpacking.

[2015-01-05 09:41] chrisdone opened #71 "Add hoogle search on homepage"
Of the latest LTS release.

Submitting to this page: http://www.stackage.org/lts/hoogle

[2015-01-05 09:43] chrisdone opened #72 "Add download link for hoogle databases"
Ping @snoyberg @mgsloan

[2015-01-05 09:45] chrisdone opened #73 "Support live hoogle search"
This is to support as-you-type searching on the /hoogle page.

[2015-01-05 12:20] snoyberg opened #74 "Bad alignment of footer on mobile"
See image below, it seems to be moved to the left about 20 pixels.

![image](https://cloud.githubusercontent.com/assets/49415/5612986/e945c960-94e5-11e4-8047-4404adc10610.png)

[2015-01-06 18:09] chrisdone commented on #71
Done in https://github.com/fpco/stackage-content/commit/525190.

[2015-01-06 18:09] #71 closed

[2015-01-07 13:19] #59 closed, assigned to chrisdone

[2015-01-12 09:42] snoyberg opened #75 "defaultLayout should include <div .container>"
Currently every template needs to include this, with a few exceptions. Instead, we should have an auxiliary function along the lines of `defaultLayoutWithoutContainer` for those cases.

[2015-01-12 10:13] snoyberg opened #76 "Google Analytics"
Would be useful to see what people are using. Tracking code:

UA-36928035-2

[2015-01-14 05:56] snoyberg opened #77 "Single-file upload for nightly and LTS"
Currently there's a three-step process to uploading nightlies and LTSs:

* Upload the bundle itself
* Upload the docs
* Upload the docmap

It would be nice if this was all contained in a single file that could be uploaded at once, since (1) it would avoid possibilities of part of the release being uploaded, and (2) the build codebase would have a single-file artifact for each build.

Much of this

[2015-02-04 16:30] snoyberg opened #78 "Progress update does not work with horizontal scaling"
Discovered when working on the new high-availability hosting. We should put the progress updates in the database itself, not in-memory.

[2015-02-20 07:41] #78 closed

[2015-03-09 08:07] snoyberg opened #79 "Remove the "view" code"
At the beginning of stackage-server development, I added a feature to have different "views" of Hackage, such as the strict-PVP view. It was an interesting experiment, but I don't think it helps anyone. At this point, it just takes up space in the database, and makes the cabal-loader process take a lot longer to run. This issue is to propose removing the code.

[2015-03-09 08:10] snoyberg commented on #79
Email sent to mailing list (https://groups.google.com/d/msg/stackage/djjFKsFQEo8/N62oCH5NkcIJ). Will wait a week for responses before moving ahead with this.

[2015-03-09 16:17] creichert commented on #79
Is the Hackage mirror currently down? http://hackage.fpcomplete.com/

[2015-03-09 16:43] snoyberg commented on #79
Please see this message: https://groups.google.com/d/msg/stackage/djjFKsFQEo8/gc2oGmCM380J

[2015-03-12 16:57] chrisdone commented on #73
@mgsloan @snoyberg The current hoogle search is too slow to support live searching
in a reasonable way. Is there some missing configuration/setup to enable live searching or is Hoogle simply too slow on the complete Stackage package set? Example:

    chris@retina:~$ time curl 'http://www.stackage.org/snapshot/lts-1.11/hoogle?q=Monad'  -s -o /dev/null
    real	0m1.604s

[2015-03-12 17:04] snoyberg commented on #73
I believe the issue is that we currently reopen the database from scratch
each time, due to some memory usage concerns. Is that correct Sloan?

On Thu, Mar 12, 2015 at 6:57 PM Chris Done <notifications@github.com> wrote:

[2015-03-12 17:19] chrisdone commented on #75
Special pages are:

* The homepage.
* The package page.

[2015-03-12 17:33] chrisdone commented on #17
Done a while back.

[2015-03-12 17:33] #17 closed

[2015-03-12 21:47] mgsloan commented on #73
Yup, that's correct.  I've forwarded @chrisdone the email conversation with neil regarding hoogle performance.

[2015-03-15 09:44] snoyberg commented on #79
No one complained, so let's move ahead with killing this code.

[2015-03-15 15:59] borsboom opened #81 "Don't make snapshot active until hoogle database and docs are ready"
Currently, when a new snapshot is uploaded it becomes immediately active before its hoogle database and documentation are ready.  This means that, for example, <https://www.stackage.org/lts/hoogle> fails with the message "The given Hoogle database is not available" for several hours every week.

[2015-03-15 16:29] #79 closed

[2015-03-17 18:22] DanBurton commented on #41
Removed the false negative described previously. See commit 07fb2c9.

[2015-03-17 18:22] DanBurton commented on #41
Assigned Chris; PTAL.

[2015-03-17 19:46] DanBurton commented on #42
Implemented these suggestions in commit ed23d5e. Chris please review.

[2015-03-17 20:37] DanBurton commented on #75
@chrisdone PTAL

I've added a branch, default-layout-container. I've only changed the defaultLayout template so far. (see commit 1d7de2b.) This change appears to have no visual effect on any of the pages (am I wrong?), so I presume it's okay to merge this into master as it is. Then we can incrementally simplify existing templates as desired.

[2015-03-18 08:24] snoyberg opened #82 "Docs don't load correctly during the "reload window""
Here's how loading up Haddocks works:

1. Request comes in
2. If docs are unavailable, start unpacking them and sending a "refresh" response with an HTML page until available
3. Serve the file

The problem is that, with horizontal scaling, one server may have the docs unpacked while another does not. In that situation, the HTML may load, but the CSS will get a "refresh" HTML page, which is meaning

[2015-03-18 08:40] snoyberg opened #83 "Bad styling over https"
It seems that the http (not https) scheme is used in some places, likely due to APPROOT. The solution is most likely to use URLs without a scheme, e.g. `//www.stackage.org/foo/bar` or even without a domain name, e.g. `/foo/bar`. However, we need to make sure that when making such a change, necessary absolute links still work.

Pinging @chrisdone

[2015-03-18 09:18] snoyberg commented on #77
This is implemented and deployed, closing.

[2015-03-18 09:18] #77 closed

[2015-03-18 13:00] chrisdone commented on #75
Lovely jubbly. Merging.

[2015-03-18 13:00] #75 closed

[2015-03-18 13:30] #41 closed

[2015-03-18 13:35] chrisdone commented on #42
LGTM.

[2015-03-18 13:35] #42 closed

[2015-03-18 16:08] manny-fp commented on #82
Couple of ideas:
- Use sticky sessions.  Rather avoid this if possible, it makes scaling work less well and won't be 100% reliable anyway.
- Keep the haddock cache in Redis instead of on the local system.  That way all hosts will share the cache so this problem goes away.

[2015-03-18 16:40] DanBurton commented on #76
default-layout-wrapper.hamlet seemed the most appropriate place to add it, since it has other generic site-wide google code.

[2015-03-18 17:00] DanBurton commented on #74
Easy fix.

[2015-03-18 17:40] DanBurton commented on #75
Cool. Deleted the branch.

[2015-03-18 18:13] DanBurton commented on #83
Are there any absolute links to the stackage.org domain that must remain absolute? Or are you just referring to absolute links that lead outside of stackage.org?

[2015-03-18 18:14] snoyberg commented on #83
One example is available at: http://www.stackage.org/snapshot/lts-1.13/cabal.config. There *might* be others, I'm not certain yet.

[2015-03-18 18:40] DanBurton commented on #20
How many of our URLs do we want to be in the sitemap? Should we be dynamically performing DB queries to generate the sitemap upon request?

[2015-03-18 18:45] chrisdone commented on #74
Neato!

[2015-03-18 18:45] #74 closed

[2015-03-18 19:39] snoyberg commented on #20
Yes, performing queries makes sense. I wouldn't include individually Haddock documentation pages most likely, but certainly homepage, relevant static content pages like installation instructions, /lts, and /nightly.

[2015-03-18 19:44] chrisdone commented on #76
Yep, that's the right place. Cheers

[2015-03-18 19:44] #76 closed

[2015-03-18 19:57] DanBurton commented on #83
How irritating it is that cabal doesn't support https, otherwise I'd just suggest using `ApprootRequest` and `isSecure`.

[2015-03-18 20:46] DanBurton commented on #83
Related, but not really an issue for this repository: https://stackage.org should redirect to https://www.stackage.org.

[2015-03-18 20:48] snoyberg commented on #83
Perhaps the solution here should be to set the approot to
https://www.stackage.org, and in the specific cases where we need to
support cabal-install, we do a s@^https://@http://@, what do you think?
(And no, I don't mean literally using a regex.)

On Wed, Mar 18, 2015 at 10:46 PM Dan Burton <notifications@github.com>
wrote:

[2015-03-18 20:55] DanBurton commented on #83
The files that are causing issues are the static/combined/blah.css and static/combined/blah.js files. We could leave the approot as http:// if there were some way to convince Yesod to link these resources schemelessly (// instead of http://).

If that's not possible, then yes, we can just default to https and special case the cabal links.

[2015-03-18 21:02] DanBurton commented on #83
Actually the former solution I suggested is bad, because clicking any links generated by yesod will drop a user out of their https browsing session and into an http session, which sort of defeats the purpose of encrypted connections.

Perhaps a better solution would be to make the approot schemeless, and then special case the cabal links to prepend `http:`.

[2015-03-18 21:08] chrisdone commented on #83
Perhaps [urlRenderOverride](https://github.com/fpco/stackage-server/blob/master/Foundation.hs#L135..L136) can be relevant for that?

[2015-03-18 21:34] DanBurton commented on #83
I've made the cabal.config generation code slightly more robust, so no matter what we make approot or urlRenderOverride do, it should correctly convert it to http.

I recommend making the approot `//www.stackage.org` with no scheme, or alternatively, using ApprootRequest to generate a scheme that always matches the request.

[2015-03-18 21:37] snoyberg commented on #83
Good move on the code there. @ketzacoatl can we update the APPROOT variable used during deployment to be `//www.stackage.org`, *after* this code change goes through?

[2015-03-19 01:39] ketzacoatl commented on #83
@snoyberg Yes - when we deploy the `.keter`, there is a key that configures app_root in the formula. We can easily update them at the same time.

[2015-03-19 06:24] snoyberg commented on #83
After more thought, let's make the approot `https://www.stackage.org`. Motivation: we would ideally like all requests to be secure. Unfortunately, cabal is broken and doesn't support SSL, so we can't *force* people to use it. But it's a good idea if all generated links are secure.

[2015-03-19 06:29] snoyberg commented on #82
I'm not sure if Redis is the right place for this, as there's a lot of content, and if the Redis server goes down, we end up in the same problem we're in now. I could picture storing all of the content on S3, and if we're adventurous, we could use the same hash-deduplication technique and store link info in the database.

I agree on avoiding sticky sessions too.

Due to the relative simplicity of

[2015-03-19 12:25] snoyberg commented on #83
This is now resolved, thanks guys!

[2015-03-19 12:25] #83 closed

[2015-03-20 23:19] garry-cairns commented on #67
Don't know if this is related but I'm having [terrible trouble](http://stackoverflow.com/questions/29155497/how-do-i-run-yesod-init-from-a-docker-container) trying to set up stackage and yesod inside a Docker container.

I've tried the Dockerfile linked to in that question and also a more basic one using the hvr ppa. In the latter case using the global cabal config results in cabal complaining abo

[2015-03-21 16:37] creichert commented on #67
@garry-cairns I commented on: https://github.com/yesodweb/yesod/issues/960

The global cabal config (http://www.stackage.org/snapshot/nightly-2014-12-22/cabal.config?global=true) only works at `~/.cabal/config`.

There could be a discrepancy in the install instructions but try sticking as close to the install instructions as possible and pasting your output so we can help.

[2015-03-23 19:04] DanBurton commented on #20
I've created PR #84. @chrisdone please review.

[2015-03-25 19:47] DanBurton commented on #72
I've added some untested code to a new branch. @chrisdone please take a look.

[2015-03-26 13:00] #20 closed

[2015-04-03 22:07] DanBurton opened #85 "Document the process of uploading snapshots to your own stackage-server instance"
Here are my notes on the process, some of which was copied from @snoyberg's email last week.

[code]

* log into your stackage-server with persona # or whatever
* navigate to /profile
* take note of your username, copy your auth token to clipboard

* edit your config/settings.yaml. Make sure your username is listed as an admin user. e.g.:
[code]
* Restart stackage-server as necessary.

[code]

* C

[2015-04-03 22:10] DanBurton commented on #72
The old branch was annoying to rebase, so I made a new branch with the same changes. Tested. Seems like it works.

[2015-04-05 09:01] snoyberg commented on #85
These steps should be added to the README.

What do you mean by your `[error]` note?

I don't believe your final comment about hoogle DB generation is correct.

[2015-04-05 09:10] snoyberg commented on #72
Merged, closing. Good work.

[2015-04-05 09:10] #72 closed

[2015-04-05 19:30] DanBurton commented on #85
Should we include a link to the sample bundle? Should stackage.org provide links to "download snapshot bundle"?

When I ran:

[code]

It uploaded it as a snapshot named `nightly-2015-04-03` (not 03-26). I was expecting it to be named according to the bundle name, rather than according to the date of upload, and I wasn't expecting it to actually be added to the "nightly" table, since I used `upload

[2015-04-06 05:53] snoyberg commented on #85
The nightly name is determined by the server, not the client, and is based on upload date. This is the intended behavior, though it's a good idea to document this properly. Also, upload2 is called that because it's replacing the old upload-nightly, and in fact I believe the newest stackage-curator completely gets rid of upload-nightly and renames upload2 to upload.

[2015-04-15 17:33] chrisdone opened #87 "Download the stackage binary"
* `/download` - shows a list of architectures.
* `/download/$architecture` - gives you a binary.

[2015-04-15 17:36] chrisdone opened #88 "API for getting snapshots"
`/download/lts-snapshots.json` which serves

[code]

The `lts` key means whatever's latest.

[code]

Supported versions and corresponding download links
for executables for a given OS/arch.
Particular OS/arches may have extra executables,
 such as msys for Windows.
"sha1" is shown as a textual representation of the digest written in hex

[code]

[2015-04-15 17:37] chrisdone commented on #88
Actual downloads can be hosted on EC2.

[2015-04-15 17:40] chrisdone opened #89 "stackage-exec"
Do the needful.

[2015-04-15 17:42] chrisdone opened #90 "Post-download setup for GHC et al"
E.g. running `./configure --prefix=… && make install` for Linux, and for Windows see #18.

[2015-04-15 20:06] DanBurton commented on #89
-> fpco/stackage-cli#25

[2015-04-15 20:06] #89 closed

[2015-04-15 20:09] DanBurton commented on #90
-> fpco/stackage-cli#26

[2015-04-15 20:09] #90 closed

[2015-04-16 01:28] DanBurton commented on #88
Working on this on the `download-handler` branch.

[2015-04-16 01:28] DanBurton commented on #87
Working on this on the `download-handler` branch.

[2015-04-20 12:02] psibi commented on #67
@snoyberg I feel the current quick-start section is confusing in stackage.org. Currently it states that:

"Download the following file, place it next to your cabal config file "

Now it's not clear which config file ? Is it system-wide ~/.cabal/config or the cabal file related to a package. In fact this [comment](https://github.com/fpco/stackage-server/issues/67#issuecomment-67742772) of yours exp

[2015-04-20 12:05] snoyberg commented on #67
Good catch, do you think this clears it up? https://github.com/fpco/stackage-content/commit/a5e6b0426cae4c34f60d84f90dcad739448fbe1e

[2015-04-20 12:16] psibi commented on #67
Thanks, that's perfect!

[2015-04-20 19:10] DanBurton commented on #88
Changing the way this is laid out.

[code]

[code]

[2015-04-20 19:14] DanBurton commented on #88
[code]

To accomplish this, the Stackage table of the database should be modified with an additional field. This field should be calculated automatically during the upload process (making use of [siGhcVersion](https://www.stackage.org/haddock/nightly-2015-04-20/stackage-types-1.0.0/Stackage-Types.html#v:siGhcVersion)).

[2015-04-22 08:02] snoyberg opened #91 "Optionally provide build flags from the BuildPlanR route"
Needed by @chrisdone for installing extra packages.

[2015-04-22 08:54] snoyberg commented on #91
Implemented as a new JSON representation on the same route. Sample output:

[code]

[2015-04-23 03:25] snoyberg commented on #91
Deployed to production, closing.

[2015-04-23 03:25] #91 closed

[2015-04-26 06:15] snoyberg opened #93 "Minor problems with download page"
I realize the page isn't ready for prime-time usage yet, but just wanted to mark down some observations:

* [x] No title is set on the page's widget, so the title tag ends up being `:: Stackage Server`
* [x] There are a number of empty ul tags in the page
* [x] I'd recommend having a link somewhere on the page to the Github repo for this project so people can get more information

[2015-04-26 08:58] snoyberg opened #94 "Define custom search engines for Hoogle (and packages?)"
I've added two custom search engines for my personal use in Chrome, which have both turned out to be very convenient:

* Stackage Hoogle: http://www.stackage.org/lts/hoogle?q=%s
* Stackage package page: https://www.stackage.org/package/%s

I've assigned keywords of `hoo` and `p` respectively, though the keywords could be whatever people want. I believe there's a way to add links to the Stackage ho

[2015-04-26 09:01] snoyberg commented on #94
Possibly related: https://developers.google.com/custom-search/docs/context

[2015-04-27 01:02] drwebb commented on #94
So I've done a little digging and possibly related is [the openseach spec] (http://www.opensearch.org/Home). All the major browsers seem to support this standard.

Related SO Q&A: http://stackoverflow.com/questions/1317051/making-usage-of-google-chromes-omnibox-tab-feature-for-on-personal-website

[2015-04-27 06:18] snoyberg commented on #94
That could be what we're looking for here, yes.

[2015-04-28 01:16] drwebb commented on #94
I've pushed xml files to an osd branch https://github.com/fpco/stackage-server/tree/osd

I tested in both Firefox and Chrome. Firefox displays the ability to add both engines. Chrome only lists the hoogle engine, I assume because it is the first one specified. Also, adding the engine on Chrome is much more tedious (you have to go into Settings).

Firefox seems to support the cool autocomplete in y

[2015-04-28 03:28] snoyberg commented on #94
That looks good, can you send it as a pull request?

[2015-04-28 16:10] snoyberg opened #95 "Split off the BuildPlan code into its own package"
By popular request. This issue is to figure out the functionality the code should have. For reference, this is referring to the code at:

https://github.com/fpco/stackage-server/blob/master/Handler/BuildPlan.hs

The results can be viewed online at, e.g.:

https://www.stackage.org/lts/build-plan?package=http-client&_accept=application/x-sh

[2015-04-28 17:38] ttuegel commented on #95
There are two things I'd like to tweak about that script. First, it would be nice to be able to set an arbitrary mirror for the packages. Second, I would like to modify the output script so that the building phases are abstract. What I mean is, instead of invoking programs directly,
[code]
the script would just invoke some shell functions
[code]
that would be defined in a wrapper. The build plan s

[2015-04-28 18:03] DanBurton opened #96 "Download stackage binary: Windows"
Add a link for Windows executables on stackage.org/download.

[2015-04-28 18:05] DanBurton opened #97 "Download stackage binary: Mac"
Add a link for Mac executables on stackage.org/download.

[2015-04-28 18:16] DanBurton opened #98 "Address TODO regarding stackage binary"
https://github.com/fpco/stackage-server/blob/master/Types.hs#L113

Originally, I intended to distribute the `stackage` binary as a special auto-updater that would get the rest of stackage-cli automatically.

What we might do instead is just decide to distribute `stackage-setup` as we are, and have the instructions be to use `stackage-setup`, which will in turn get the rest of stackage-cli using th

[2015-04-28 18:17] DanBurton commented on #87
Created sub-tasks for Windows #96 and Mac #97. Also created sub-task #98. That should cover all of the remaining work for this issue.

[2015-04-28 18:17] #87 closed

[2015-04-28 18:33] DanBurton opened #99 "Prepare /download for prime time"
In addition to completing #93, make alterations to the download page so that it looks professional and polished for actual release.

[2015-04-28 18:56] DanBurton commented on #93
It's still not ready for prime time, but I've addressed those minor points.

[2015-04-28 18:56] #93 closed

[2015-04-28 23:47] DanBurton commented on #85
Documented. @snoyberg please review [the README](https://github.com/fpco/stackage-server#readme).

[2015-04-29 05:27] snoyberg commented on #95
Point (1) makes perfect sense, completely agree.

On (2): I'm guessing in that approach, there'd be a config option as to whether the `build_plan_XXX` functions are generate by the script or not, correct? Another option seems to be to add configuration options to control what tool is used for fetching, unpacking, etc. Either approach works for me, the advantage of the config approach is that you'd

[2015-04-29 16:13] ttuegel commented on #95
I think configuration options to control which tools are used is orthogonal to what I intend by having those functions. Certainly, I appreciate the benefit of having standalone scripts, but for distributing Cabal, it would be more useful to call the generated script from our existing bootstrap script. The reason I say that is orthogonal is that the non-standalone script allows deferring the config

[2015-04-30 10:33] snoyberg commented on #85
Should the README have a link to a sample bundle tarball to use? I think I sent you a URL for that.

[2015-05-01 10:13] snoyberg commented on #95
@ttuegel I've split off the code into the following repo:

https://github.com/fpco/stackage-build-plan

I believe it supports your requests correctly. Below is an example session. The code base should be easy to tweak if you'd like it to do something slightly different. Can you give it a shot and, if you're happy with it, I'll release to Hackage.

[code]

[2015-05-01 10:14] snoyberg commented on #95
Also, you should have write access to that repo now (you'll have to accept the invitation to the fpco organization).

[2015-05-01 20:13] DanBurton commented on #85
Added link to sample bundle. @snoyberg any other feedback?

[2015-05-02 05:46] DanBurton commented on #88
See the PR: #100

[2015-05-02 18:14] snoyberg commented on #85
Nope, looks good, thanks.

[2015-05-02 18:14] #85 closed

[2015-05-03 05:32] snoyberg commented on #95
Actually, let's discuss future modifications in the stackage-build-plan repo itself, closing this issue.

[2015-05-03 05:32] #95 closed

[2015-05-04 05:18] snoyberg commented on #94
@drwebb Pinging again, can you send a pull request for this change?

[2015-05-04 18:10] #88 closed

[2015-05-06 12:35] k-bx opened #101 "Proposal: add searches for packages in search-box"
Proposal is to add a feature to be able to search for a specific package in top-right search-box on stackage website.

[2015-05-06 16:23] DanBurton commented on #101
Related: sometimes I've wanted to limit the scope of a hoogle search to a given package. I think hayoo might be able to do this.

[2015-05-06 16:27] chrisdone commented on #101
Hoogle can do that, but I don't recall the syntax.

On 6 May 2015 at 18:23, Dan Burton <notifications@github.com> wrote:

[2015-05-06 23:43] mgsloan opened #102 "Support `+pkgName` restriction in hoogle search"
Looks like this isn't supported currently, as the following two searches have identical results:

https://www.stackage.org/lts/hoogle?q=view
https://www.stackage.org/lts/hoogle?q=view+%2Blens

Split off from discussion in #101

[2015-05-06 23:43] mgsloan commented on #101
Yeah, hoogle's syntax for that is `+lens`. It looks like our stackage server integration of Hoogle doesn't do that, but queries restricted by module, such as `+Control.Lens` do work.  I've split off an issue about this.

[2015-05-06 23:46] mgsloan commented on #101
Also, I don't feel the need for searching for a specific package, due to the following two approaches working:

* Visit a snapshot, like http://www.stackage.org/lts, and use browser search (ctrl+f) to find the package

* If I'm looking for a specific package by name, to see what snapshots contain it, I just construct a url by appending the package name to `http://www.stackage.org/package/`, like h

[2015-05-07 03:29] snoyberg commented on #101
@k-bx I am a bit concerned that two search boxes on a page will end up confusing people. What if we had a link like "find a page" that took you to the list of all packages? Would that address your concern here?

[2015-05-07 04:08] k-bx commented on #101
@snoyberg yeah, by no means I was proposing two search-boxes. Ideally, I would see it as somehow injecting search-results with a small "packages match" box, that would combine, for a search of "lens" packages: lens (exact match), lens*, *lens*. Limited by 10, for example.

Having a link to being able to "browse" packages (let's begin with having a full list of current lts) is also more than suitab

[2015-05-07 04:25] DanBurton commented on #101
The list of LTS packages can be found at https://www.stackage.org/lts

[2015-05-07 04:36] snoyberg commented on #101
@chrisdone Design wise, what do you think about adding a "browse LTS packages" link underneath the Hoogle search box on the homepage?

[2015-05-07 05:54] chrisdone commented on #101
Seems fine. Same link as what Dan wrote? http://www.stackage.org/lts

[2015-05-07 05:55] snoyberg commented on #101
Yes

On Thu, May 7, 2015, 8:54 AM Chris Done <notifications@github.com> wrote:

[2015-05-07 06:26] snoyberg opened #103 "Add syntax highlighting to README files"
Should be done with some Javascript library so that the generated HTML is still search-engine friendly.

[2015-05-07 10:09] k-bx commented on #101
Proposal from me: https://i.imgur.com/0h9vWiP.png

[2015-05-07 10:30] snoyberg commented on #101
Looks good. Would you be interested in sending a pull request against the
stackage-content repo.

On Thu, May 7, 2015, 1:09 PM Kostiantyn Rybnikov <notifications@github.com>
wrote:

[2015-05-07 10:44] k-bx commented on #101
Will do

[2015-05-07 10:45] snoyberg commented on #101
Cool thanks!

On Thu, May 7, 2015, 1:44 PM Kostiantyn Rybnikov <notifications@github.com>
wrote:

[2015-05-07 10:55] #101 closed

[2015-05-07 10:57] k-bx commented on #101
Perfect :) Thanks.

[2015-05-07 17:17] drwebb commented on #94
Committed changes

[2015-05-07 17:17] #94 closed

[2015-05-22 23:21] gitfoxi opened #104 "The given Hoogle database is not available."
I get this message sometimes after querying the Hoogle beta.

It looks like this might be a capacity issue for the server since it's responding this way only sometimes.

[2015-05-24 17:47] ketzacoatl commented on #104
@gitfoxi, can you confirm the URLs you see as working or failing? Or do you see the same URLs as sometimes working and sometimes failing?

I consistently see https://beta.stackage.org/lts-2.9/hoogle work while other snapshots may not, eg: https://beta.stackage.org/lts-1.8/hoogle.

I suspect this has more to do with when the hoogle feature came online, but @snoyberg or @chrisdone would be able to c

[2015-05-24 18:34] gitfoxi commented on #104
The form at https://beta.stackage.org just failed for me on the first try but then succeeded on several subsequent tries.

[2015-05-25 07:09] snoyberg commented on #104
It's theoretically possible, though highly unlikely, for a random request to fail because the request for the Hoogle database to Amazon S3 to fail. But that's a very rare occurrence. I've been unable to trigger a failing request for the recent snapshots, and old snapshots (more than 5 snapshots old) simply don't have the Hoogle databases generated, so the error message is accurate.

[2015-05-25 13:03] ketzacoatl commented on #104
I have updated the ECS task definition to be more specific in running the latest docker image available (and we can use image tags in the future, and test the use of image digests which came out in v1.6.x), and I have not been able to get an error out of hoogle with a little bit of poking. Can anyone else confirm this as an error for current LTS?

Note that, as @snoyberg pointed out, older snapsho

[2015-05-25 22:10] gitfoxi commented on #104
I was just checking it out because of the recent Reddit post. So whatever version was running that day.

[2015-05-25 22:11] ketzacoatl commented on #104
Sorry for the confusion @gitfoxi. In simpler terms, I believe the issue is resolved, can you confirm if you still see any errors?

[2015-05-26 14:40] gitfoxi commented on #104
I was able to do many searches with no problems.

[2015-05-26 14:40] #104 closed

[2015-05-26 15:00] ketzacoatl commented on #104
Great! Thank you for the report and your time testing @gitfoxi.

[2015-05-29 12:41] snoyberg commented on #82
Will be fixed by the move to S3, which will be released soon (probably beginning of next week).

[2015-05-29 12:41] #82 closed

[2015-06-06 00:20] kbillings opened #106 "Haddock subdomain has no favicon"
http://haddock.stackage.org/favicon.ico does not exist.

[2015-06-06 19:07] snoyberg commented on #106
Good catch, thanks! Should be fixed now.

[2015-06-06 19:07] #106 closed

[2015-06-09 22:56] chreekat opened #107 "Provide shortcut to latest Haddocks"
E.g. http://haddock.stackage.org/lts-2.13/BlastHTTP :arrow_right: http://haddock.stackage.org/lts-2.13/BlastHTTP-1.0.1/Bio-BlastHTTP.html

Or even! http://haddock.stackage.org/package/BlastHTTP :arrow_right: latest snapshot *and* version.

I see this already works for the package link (https://www.stackage.org/lts-2.13/package/BlastHTTP), but the haddocks would be very handy. I've hit the 404 a bu

[2015-06-10 06:50] snoyberg commented on #107
This is difficult to do with S3, but stackage.org already has this kind of thing set up:

* https://www.stackage.org/package/BlastHTTP
* https://www.stackage.org/lts-2.13/package/BlastHTTP
* https://www.stackage.org/lts/package/BlastHTTP
* https://www.stackage.org/nightly/package/BlastHTTP

[2015-06-18 00:48] DanBurton opened #108 "Internal server error on misspelled package"
http://www.stackage.org/package/txt

Expected: 404
Actual: 501

[code]

[2015-06-18 06:10] snoyberg commented on #108
@DanBurton Confirmed?

[2015-06-18 08:36] DanBurton commented on #108
Confirmed fixed on live server.

[2015-06-18 08:36] #108 closed

[2015-06-22 17:36] DanBurton commented on #99
* [ ] repurpose for stack

[2015-06-29 18:51] DanBurton opened #109 "LTS Haskell badge"
Serve an image similar to the build:passing badge that people can display on their github repositories. The image should indicate which version of the package is included in the latest LTS Haskell.

[2015-06-29 18:59] mboes commented on #109
https://github.com/badges/shields contains a bunch to get us started.

[2015-07-09 20:10] DanBurton commented on #99
Instead of repurposing, just delete the page or redirect to /install, which points users to download stack.

[2015-07-09 20:10] DanBurton commented on #97
Link is on stackage.org/install instead.

[2015-07-09 20:10] #97 closed

[2015-07-09 20:10] DanBurton commented on #96
Link is on stackage.org/install instead.

[2015-07-09 20:10] #96 closed

[2015-07-09 20:12] DanBurton opened #110 "Remove "(experimental)" from hoogle search page"
e.g. http://www.stackage.org/lts-2.17/hoogle?q=Int+-%3E+String

I think the experiment is over: it works.

[2015-07-20 13:46] sfilipov opened #111 "Not all libraries have link to "Source""
I found out that parts of the documentation for some libraries does not provide a "Source" link on the right, next to the name of a method. For comparison, the documentation hosted at https://www.haskell.org/hoogle/ has this kind of link for the same library. I only found that problem with [Base 4.7.0.2](http://haddock.stackage.org/lts-2.19/base-4.7.0.2/) but I suspect that more libraries are affe

[2015-07-20 13:55] snoyberg commented on #111
I pinged @hvr about this, the core libraries in the GHC PPA we use doesn't have the source links included. I don't know if there's an ETA on getting that fixed. We could consider moving directly to the haskell.org bindists instead, but I've been avoiding it until now.

[2015-07-22 02:58] mathstuf opened #112 "Atom feed for changes"
It'd be great if an Atom (or RSS) feed were available for any changes. Something like:

[code]

[2015-07-29 20:47] nkaretnikov opened #113 "Document valid resolver values for Stack"
On stackage.org, there are cabal-install instructions, but nothing really explains how to use different Stackage sets with Stack (i.e., valid `resolver` values).

[2015-07-30 01:09] snoyberg commented on #113
Sounds like a good change, and should be relatively isolated. Would you be
interested in sending a PR?

On Wed, Jul 29, 2015, 1:47 PM Nikita Karetnikov <notifications@github.com>
wrote:

[2015-08-01 00:11] nkaretnikov commented on #113
Maaaaybe sometime later, but probably not, sorry.  Too much on my plate
already.

[2015-08-02 20:24] ndmitchell opened #114 "People visiting http stackage get weird behaviour"
If you visit stackage via http (not https) the front page reads:

    wget https://www.stackage.org/lts/cabal.config

But since that links to /lts/cabal.config, it actually resolves to http://www.stackage.org, not https, even though the link reads https. Somewhat confusing.

[2015-08-05 10:33] #114 closed

[2015-08-13 08:31] snoyberg commented on #81
Given the much shorter window now (~30 minutes), you OK with leaving this as is and closing?

[2015-08-13 08:31] snoyberg commented on #98
No longer relevant

[2015-08-13 08:31] #98 closed

[2015-08-13 08:39] #99 closed

[2015-08-13 08:41] #110 closed

[2015-08-13 08:42] snoyberg commented on #111
This is now fixed for all new-ish snapshots (past two weeks or so), please report if you see something missing in new snapshots.

[2015-08-13 08:42] #111 closed

[2015-08-13 09:09] #113 closed

[2015-08-13 17:56] jtdaugherty opened #115 "Lay out module listings hierarchically"
The module listings on Stackage pages are flattened, e.g.,

https://www.stackage.org/lts-3.0/package/lens-4.12.3

instead of hierarchical as displayed on Hackage.  Hierarchical layout helps the reader to understand the structure of the package.

[2015-08-13 18:19] dmwit opened #116 "duplicate tags"
Some packages show up in their tag listings twice for some reason. For example, the [html tag](https://www.stackage.org/tag/html) lists `lucid` twice. (There are several other examples.)

[2015-08-13 18:56] #116 closed

[2015-08-13 18:56] snoyberg commented on #116
Thanks for the report!

[2015-08-23 22:02] #81 closed

[2015-09-01 13:31] rvion opened #117 "Home page Hoogle search box doesn't work anymore (no LTS-3.3 hoogle db yet)"
home page hoogle search box **doesn't return any result** as of now.
eg: http://www.stackage.org/lts-3.3/hoogle?q=alloca
but does for previous lts: (lts-3.2, http://www.stackage.org/lts-3.2/hoogle?q=alloca)
I report this bug because it's been a few hours already, and I have the impression it's not because of hoogle db generation delay

[2015-09-01 15:24] snoyberg commented on #117
Looks like a bug in stackage-curator, may take some time

On Tue, Sep 1, 2015, 4:31 PM Rémi Vion <notifications@github.com> wrote:

[2015-09-01 22:31] tyler-luminal opened #118 "Add Package Search"
I know this was addressed in issue #101, but I feel it is very suboptimal.

I'm an (admittedly new) user and found myself searching for an older version of `errors` (required by another package). There was no way for me to search for an older version of that package on stackage. The `browse packages` page also does not provide an intuitive way to switch between LTS versions to find the older versi

[2015-09-02 05:37] snoyberg commented on #117
I believe I've found the bug and fixed it. The easiest fix will be to just generate a new LTS release which will include the patched files. Hopefully all of this will deploy in the next 24 hours. Thanks for the report.

[2015-09-02 08:21] snoyberg commented on #117
Newest nightly has Hoogle again, and I'm running an LTS build now. I'm going to close this as fixed, thanks for reporting.

[2015-09-02 08:21] #117 closed

[2015-09-02 13:13] rvion commented on #117
thanks for the quick fix :)

[2015-09-02 13:14] rvion commented on #117
just for the record, lts-3.4 works but lts-3.3 remains without documentation (https://www.stackage.org/lts-3.3/hoogle?q=map)

[2015-09-10 19:11] ddrone opened #119 ""Fork me on Github" can cover "browse packages" link making latter unclickable"
To reproduce, try reducing browser window to a certain point or opening the website on a smartphone.

[2015-09-14 14:06] chrisdone commented on #119
Just needs a responsive bit in the CSS.

[2015-09-21 15:19] 3noch opened #120 "Provide snapshot diffs"
I think it would be useful to have a way to compare snapshots easily.

[2015-10-04 09:19] #115 closed

[2015-10-05 18:14] zudov commented on #103
This may be closed now. See https://github.com/fpco/stackage-server/pull/122.

[2015-10-05 18:17] snoyberg commented on #103
Thanks!

[2015-10-05 18:17] #103 closed

[2015-10-06 04:32] zudov opened #125 "Produce hyperlinked sources"
[Hyperlinked sources](https://hackage.haskell.org/package/base-4.8.1.0/docs/src/Prelude.html) are really nice. We should have them.

[2015-10-06 04:33] zudov opened #126 "Stop using system-fileio and system-filepath"
These two libraries have been deprecated.

[2015-10-06 04:36] snoyberg commented on #125
This is already done, and as new builds are processed are being populated. See, e.g., http://haddock.stackage.org/lts-3.8/yesod-1.4.2/src/Yesod.Default.Config.html

[2015-10-06 04:46] zudov commented on #125
Great. It's even better, when it's already done :)

[2015-10-11 11:47] #120 closed

[2015-10-13 13:27] zudov commented on #112
It's now fully done:

- http://stackage.org/feed
- http://stackage.org/feed/lts
- http://stackage.org/feed/lts-3
- http://stackage.org/feed/nightly

[2015-10-13 13:27] #112 closed

[2015-10-13 13:33] mathstuf commented on #112
Thanks!

[2015-10-19 16:40] zudov commented on #109
https://www.fpcomplete.com/blog/2015/10/stackage-badges

[2015-10-19 16:40] #109 closed

[2015-10-21 23:49] rimmington opened #135 "Link from Haddocks to package page"
One feature I use often on Hackage is the "Contents" link, which links to the package page. On haddock.stackage.org, these links point to the Haddock package summary. This isn't exactly unexpected, but it does mean there's no quick way to go from Hoogle -> Haddock -> package info.

(I've got no idea how haddock.stackage.org is set up, so I'm dropping this issue here. Sorry if it's the wrong repo.)

[2015-10-22 02:03] zudov commented on #135
:+1: for this.

It shouldn't be too hard to just patch the static pages after they are generated, but perhaps there is a better way?

(I also don't know much about how these haddocks are handled, besides that they are static pages lying on S3)

[2015-10-22 05:15] snoyberg commented on #135
I've pushed a commit to stackage-curator, we should be able to see the change in the next day or two.

[2015-10-24 17:14] snoyberg commented on #135
This is now implemented. See, for instance, the contents link at the top of: http://haddock.stackage.org/nightly-2015-10-24/AC-Vector-2.3.2/Data-Vector-Transform-T3.html

[2015-10-24 17:14] #135 closed

[2015-10-24 21:34] zudov commented on #135
@snoyberg If you go [here](http://haddock.stackage.org/nightly-2015-10-23/servant-client-0.4.4.5/Servant-Common-Req.html) and press "Contents" it takes you to https://www.stackage.org/nightly-2015-10-23/package/servant-client-0.4.4.5/Servant-Common-Req.html, which is "Not found". Can it be related to that change?

[2015-10-24 21:35] snoyberg commented on #135
Yes, it only affects that one nightly.

On Sun, Oct 25, 2015, 12:34 AM Konstantin Zudov <notifications@github.com>
wrote:

[2015-10-27 14:56] tinkyholloway opened #136 "No space left on device"
![screen shot 2015-10-27 at 14 45 38](https://cloud.githubusercontent.com/assets/12114047/10761682/6876e482-7cba-11e5-9694-ef857464cb3a.png)

[2015-10-27 16:39] DanBurton commented on #136
Is this fixed now?

<img width="981" alt="screen shot 2015-10-27 at 9 38 51 am" src="https://cloud.githubusercontent.com/assets/713692/10765120/91891240-7c8e-11e5-84af-1e4ddad485e4.png">

[2015-10-27 18:18] snoyberg commented on #136
Pinging @dysinger

[2015-10-28 02:14] tinkyholloway commented on #136
Works for me. Thanks.

[2015-10-28 03:17] dysinger commented on #136
We may need to deploy with a ephemeral volume or ebs volume if there is a large write space expected by the app

[2015-10-28 13:29] ndmitchell opened #137 "Server is unstable"
Trying out http://www.stackage.org/package/shake/badge/nightly, if I refresh several times in the browser, about 2 out of 3 times I get internal server error:

    SQLite3 returned ErrorIO while attempting to perform prepare "PRAGMA journal_mode=WAL;": disk I/O error

It's not all the time, and has worked a few times.

[2015-10-28 13:30] snoyberg commented on #137
This is not related to badges, our new hosting is not as stable as I'd have
hoped for, talking to the sysadmins.

On Wed, Oct 28, 2015 at 3:29 PM, Neil Mitchell <notifications@github.com>
wrote:

[2015-10-28 13:38] ndmitchell commented on #137
Feel free to close this then, although it would be good if there was somewhere I could subscribe to for notifications of when it's stable once more, so I can start rolling out the badges.

[2015-10-28 14:41] zudov commented on #137
Since badges is the content that is supposed to be included on external websites, we probably don't want to fail so miserably (even if it's not our fault, and it happens rarely).

Perhaps we could catch such exceptions and return a badge which would be saying "Stackage is down, no badge for you at the moment"

TODO: Think of a better way to put that information in a nice badge.

[2015-10-28 19:24] ndmitchell opened #138 "Add ?label= to the badges"
From https://github.com/badges/shields/issues/551#issuecomment-151890609 by @zudov. It would be nice to have http://www.stackage.org/package/shake/badge/nightly?label=Stackage give the Shake badge but with the text Stackage.

[2015-10-29 12:19] snoyberg commented on #137
Have you seen any instability since my comment yesterday?

On Wed, Oct 28, 2015, 2:41 PM Konstantin Zudov <notifications@github.com>
wrote:

[2015-10-29 12:41] ndmitchell commented on #137
Nope, but I haven't been monitoring extensively. Are you using uptimerobot.com yet? I still can't recommend them enough :)

[2015-10-29 12:49] snoyberg commented on #137
Yes, I'm using then, and it hasn't triggered once actually

On Thu, Oct 29, 2015, 12:41 PM Neil Mitchell <notifications@github.com>
wrote:

[2015-10-29 12:55] ndmitchell commented on #137
Hmm, do you pass back the 500 code properly? And do you have it set up to demand a particular code? Given the instability I was seeing yesterday, it seems implausible it didn't fail.

[2015-10-29 12:57] snoyberg commented on #137
Yes, it should use error codes. Could have been a load balance stickiness
issue between the multiple hosts.

On Thu, Oct 29, 2015, 12:55 PM Neil Mitchell <notifications@github.com>
wrote:

[2015-10-31 12:06] tinkyholloway commented on #136
How much space do you need?

[2015-11-02 09:28] ndmitchell commented on #138
Thanks, works beautifully. You can see it being used in anger at https://github.com/ndmitchell/extra#readme, and I'll be rolling it out to my other projects this afternoon.

[2015-11-02 09:28] #138 closed

[2015-11-02 09:29] ndmitchell commented on #137
Seems stable now, so closing.

[2015-11-03 09:50] ndmitchell commented on #137
Just hit this again from Hoogle, when trying to fetch https://www.stackage.org/lts/cabal.config:

    Internal Server Error
    SQLite3 returned ErrorIO while attempting to perform prepare "PRAGMA journal_mode=WAL;": disk I/O error

[2015-11-03 11:30] denisshevchenko commented on #137
Still the same problem, `disk I/O error`...

[2015-11-03 13:38] Tritlo commented on #137
I'm having the same problem.

[2015-11-03 14:24] rvion commented on #137
me too

[2015-11-03 15:28] snoyberg commented on #137
Already tracked by #136

[2015-11-03 15:28] #137 closed

[2015-11-03 15:37] denisshevchenko commented on #136
It's up!

[2015-11-03 15:38] denisshevchenko commented on #137
It's up!

[2015-11-04 09:09] tinkyholloway commented on #136
This works for me. Thanks.

[2015-11-11 17:46] zudov opened #140 "List licenses of all transitive dependencies for each package"
See https://github.com/haskell/hackage-server/issues/442

How does such feature sound?

[2015-11-11 18:07] snoyberg commented on #140
Sounds good

[2015-11-11 18:12] zudov commented on #140
Not sure what UI would be nice.

We could start with something that just lists transitive dependencies (perhaps as a tree). Then it would be trivial to add license information.

[2015-11-24 22:17] fatlazycat opened #142 "Out of step hoogle"
From LTS 3.15 you get hoogle 4.2.43 the download database from https://www.stackage.org/lts-3.15/db.hoo is in format 4.2.42.0

When attempting to start a local google server I get

Error: Wrong hoogle database version: found 4.2.42.0, expected 4.2.43.0

Thanks

[2015-11-25 01:52] DanBurton commented on #142
Interesting observation. It's true, the version of hoogle we use to build a given LTS's hoogle database doesn't necessarily match the version of hoogle that "ships" with that LTS.

@snoyberg what do you think make sense, to automate the process of using the latest hoogle available, or just continue to manually upgrade the version of hoogle that we use?

[2015-11-25 02:15] mgsloan commented on #142
It'd be really excellent if hoogle versioned the database format (instead of basing the version on the package version).

[2015-11-25 03:30] snoyberg commented on #142
There's nothing we can reasonably change here. We need to build databases compatible with the version of Hoogle used by the server, not the LTS snapshot.

[2015-11-25 08:04] fatlazycat commented on #142
Thanks for the info, i'll close

[2015-11-25 08:04] #142 closed

[2015-12-26 05:58] mgsloan opened #143 "Explain how to add a dependency, right on the package page"
The idea is to explain to users how to use a particular package:

The page documenting build depends should clarify how cabal version constraints work, and when you should have them in your cabal file (when it's intended for hackage).  Also, it'd be nice to have some guidance on how to determine them.  Another thing to clarify is that there are potentially multiple `build-depends` in a cabal file,

[2016-01-08 10:32] juhp opened #144 "lts-3 appearing in place of lts-4 on package/ pages"
Very recently stackage now supports building for more than one major version of LTS.
lts-4.0 was built on Wed and then yesterday lts-3.21 was built.

This caused stackage-server to now refer to lts-3.21 instead of lts-4.0 on package/ pages in stackage.org: eg https://www.stackage.org/package/stack

I guess stackage-server should always point to the latest major LTS release.

[2016-01-13 11:14] sjakobi opened #145 "Website shows `stack` version 9.9.9 although most recent is 1.0.0"
http://www.stackage.org/package/stack

The headline should be "stack 1.0.0" instead of "stack 9.9.9".
Hackage shows v9.9.9 to be deprecated: http://hackage.haskell.org/package/stack-9.9.9

[2016-01-13 11:23] #144 closed

[2016-01-13 11:24] snoyberg commented on #144
Not yet deployed, will hopefully do later today.

[2016-01-13 11:32] snoyberg commented on #145
This is actually caused by [all-cabal-metadata](https://github.com/commercialhaskell/all-cabal-metadata/blob/master/packages/st/stack.yaml), and specifically [all-cabal-metadata-tool](https://github.com/commercialhaskell/all-cabal-metadata-tool) not taking deprecated packages into account.

[2016-01-13 11:53] #145 closed

[2016-01-13 11:54] snoyberg commented on #145
I believe the commit I just pushed will resolve this, though it will take up to an hour for all the pieces to get rebuilt correctly so we can test.

[2016-01-13 12:58] sjakobi commented on #145
Works! Thanks for the quick fix!

[2016-01-14 15:16] dmcclean opened #146 "Add a link to the stackage updates feed on the main stackage.org page"
It would be nice if the home page for `stackage.org` included a link to the feed of recent LTS snapshots.

It's awesome that this feed exists but it isn't very easy to find.

[2016-01-14 15:34] snoyberg commented on #146
Good point, most people don't have browser extensions that indicate the presence of RSS feeds. Adding to the homepage next to the "Browse available packages" should do it.

[2016-01-14 15:37] #146 closed

[2016-01-31 14:21] tfausak opened #147 "Allow customizing entire badge label"
I would like to be able to customize the entire badge label. Currently you can customize the first part (#138), but it is always followed by "lts-X" or "nightly". Since the badge URL includes the resolver, I think it makes sense to set the entire label. For instance, you might want to capitalize it as "Stackage LTS", or make it simply say "version".

[2016-01-31 20:06] alexanderkjeldaas opened #148 "stackage-server/templates/stackage-home.hamlet should have a "by category" link"
I need to quickly determine which packages in the "Data Mining" or "Machine Learning" categories from hackage are in stackage.

For this, the list at http://www.stackage.org/lts-5.1 should either show the tags associated with packages (So I can use "find" in the browser), or some category-based drill-down should be supported.

[2016-01-31 22:51] zudov commented on #148
I think it would be nice to have such functionality. But perhaps we could go further than separate pages for categories. It could look like some filtering controls in the header of the "Packages" table.

[2016-02-01 06:58] #147 closed

[2016-02-01 07:06] snoyberg opened #150 "Force SSL for all connections"
We didn't do this initially since cabal lacks SSL support. However, now that we no longer host packages from stackage.org itself, I think this is a non-issue. I can make the changes via Kubernetes pretty easily.

@borsboom any thoughts on this?

[2016-02-01 16:54] borsboom commented on #150
No objections here as long as it doesn't cause any problems for anyone.

[2016-02-02 08:03] #150 closed

[2016-02-03 13:14] mgsloan opened #153 "On cellphone, "fork me on github" prevents search button from being pressed"
The click box overlaps the button on a sufficiently narrow cellphone

[2016-02-03 13:45] zudov commented on #153
Duplicate of https://github.com/fpco/stackage-server/issues/119 ?

[2016-02-04 02:02] mgsloan commented on #153
Oh yeah, good point!  I'll close this in favor of that issue.

[2016-02-04 02:02] #153 closed

[2016-02-05 19:27] gitfoxi opened #154 "Would you be interested in supporting arm64?"
I have a 12-core build server. I'll try building all of stackage over the next few days. Would you be interested in hosting my build products on stackage.org assuming things go smoothly?

[2016-02-05 19:42] rvion commented on #154
that would be awesome !

[2016-02-06 17:33] snoyberg commented on #154
What build products would we be hosting?

On Fri, Feb 5, 2016, 9:48 PM Rémi Vion <notifications@github.com> wrote:

[2016-02-06 19:49] gitfoxi opened #155 "stack install quits without explanation"
stack install

Installs some packages from build-depends then quietly and without explanation stops doing that. Is there a log or something I can check?

Long story is that I copied the contents of lts-5.1 into my build-depends. I don't know much about stack, but after deleting lines with the word "install", stack started building and installing things in alphabetical order. Great.

Later, I retur

[2016-02-06 19:52] gitfoxi commented on #154
Whatever you like.

GHC, cabal and stack are built. Currently trying to build all of lts-5.1
but having some issues
On Feb 6, 2016 9:33 AM, "Michael Snoyman" <notifications@github.com> wrote:

[2016-02-07 11:00] snoyberg commented on #155
This would make more sense on the Stack mailing list or issue tracker, I don't see a connection between this report and Stackage Server.

[2016-02-07 11:01] snoyberg commented on #154
This would make more sense to offer on the Stack issue tracker (where I'm sure it will be welcome). Specifically, hosting pre-built GHCs and Stack binaries would make a lot of sense. (We don't currently host any cabal-install binaries or pre-built library binaries.)

[2016-02-07 11:04] gitfoxi commented on #154
Thanks. I'll post to the Stack issue tracker.

[2016-02-07 11:12] gitfoxi commented on #155
Thanks. I will post to the Stack issue tracker and I'll check out the stack mailing list.

[2016-02-07 11:13] #155 closed

[2016-02-13 00:26] Nicowcow commented on #119
I agree, but at the same time it is very handy, as I knew where to click to report the issue : ) Could it be place on the left side, which doesn't have as much content?

[2016-02-21 01:27] simonmichael opened #158 "add package names to hoogle search ?"
Thanks for the per-snapshot hoogles, which is a great feature.

They don't seem to match package names, as http://hoogle.haskell.org does. Could this be added ?

[2016-02-23 06:42] snoyberg commented on #158
This seems to be a new feature in Hoogle 5, which is currently in alpha. When Hoogle 5 is officially released, we'll be able to move over to it and get this functionality.

[2016-02-24 03:15] mgsloan opened #160 "Provide reason for the absence of docs"
See this reddit post about absence of docs on hackage for lambdacube-gl: https://www.reddit.com/r/haskell/comments/478t8d/hackage_lots_of_broken_hyperlinks_recently/

I expected to find the docs on stackage.org, but instead got "There are no documented modules for this package." on https://www.stackage.org/package/lambdacube-gl

Sidenote: perhaps it would be good to have stackage demand that docs

[2016-02-24 06:51] DanBurton commented on #160
(In this case, the reason is https://github.com/fpco/stackage/issues/1236)

[2016-03-13 21:39] mkoloberdin opened #162 ""expected minor version match with ghc-3.10.7""
On Arch Linux with stock ghc 7.10.3:

$ stack install ghc-mod
Run from outside a project, using implicit global project config
Using resolver: lts-5.8 from implicit global project's config file: /home/mike/.stack/global-project/stack.yaml
stack will almost certainly fail with GHC below version 7.8
Valiantly attempting to run anyway, but I know this is doomed
For more information, see: https://gith

[2016-03-13 21:47] bergmark commented on #162
This should probably go in the commercialhaskell/stack repository, but either way, you mention both `3.10.7` and `7.10.3`, the former seems to be a typo somewhere.

[2016-03-13 21:47] mkoloberdin commented on #162
This has nothing to do with the server. Seems to be a stack bug: https://github.com/commercialhaskell/stack/issues/1903

[2016-03-13 21:47] #162 closed

[2016-03-14 03:16] mgsloan commented on #162
Note that it isn't a stack bug, but a bug in a dependency https://github.com/bos/vector-binary-instances/issues/6

[2016-03-15 00:16] mgsloan opened #163 "Clearer version info on package page"
Take for example https://www.stackage.org/package/path-io :

![2016-03-14-171343_649x326_scrot](https://cloud.githubusercontent.com/assets/22570/13764007/1fcb9dde-ea08-11e5-8971-a8f5d1dce740.png)

At the top of the page it says `path-io 1.1.0`, but the module documentation is for `0.2.0`, as that is the version in lts-5.8.  My preference would be that the packages page that does not specify a part

[2016-03-15 00:45] DanBurton commented on #163
I believe @juhp's changes addressed this, they just need to be deployed. See: https://github.com/fpco/stackage-server/pull/159

[2016-03-15 01:24] mgsloan commented on #163
Ah, correct!

[2016-03-15 01:24] #163 closed

[2016-03-15 16:37] jolmg opened #164 "No hoogle db seems to be available"
https://www.stackage.org/lts-5.8/hoogle?q=widgetFileReload
https://www.stackage.org/lts-5.8/db.hoo

Both of these return "The given Hoogle database is not available."

I've tried searching with the following snapshots:
nightly-2016-03-15
nightly-2016-03-14
nightly-2016-03-13
lts-5.8
nightly-2016-03-12
lts-5.7

Search box autocomplete and browsing by package or module still seem to work.

[2016-03-15 16:41] snoyberg commented on #164
Thanks for the report. We just updated library versions, and the new Hoogle
databases need to get generated on the server. Hopefully that will be done
within the hour.

On Tue, Mar 15, 2016 at 6:37 PM, jolmg <notifications@github.com> wrote:

[2016-03-15 16:47] jolmg commented on #164
Ah, I see. Thanks for replying promptly. I'll be closing the issue then.

[2016-03-15 16:50] snoyberg commented on #164
At least lts-5.8 seems to be working now.

On Tue, Mar 15, 2016 at 6:47 PM, jolmg <notifications@github.com> wrote:

[2016-03-15 16:53] jolmg commented on #164
You're right. Thank you.

[2016-03-15 16:53] #164 closed

[2016-03-23 10:37] juhp opened #165 "stackage badges pointing to lts-3 still"
SSIA eg https://github.com/ndmitchell/hlint/blob/master/README.md

[2016-03-23 12:26] zudov commented on #165
I don't follow. Here is what I see in the hlint's README:

1. The bagde's image is showing the version of hlint (1.9.31) which is included in the latest LTS (lts-5.9). That's what https://www.stackage.org/package/hlint/badge/lts is resolved to.
2. Clicking on the badge takes you to the package page on stackage, information on which is completely consistent with what the badge displays.

Is there s

[2016-03-24 00:41] juhp commented on #165
[![Stackage version](https://www.stackage.org/package/hlint/badge/lts?label=Stackage)](https://www.stackage.org/package/hlint)

[2016-03-24 01:31] zudov commented on #165
That's interesting. To me it reads `Stackage | 1.9.31`. Even in your message.

I curled `https://www.stackage.org/package/hlint/badge/lts?label=Stackage` and after some gazing at the returned xml I can confirm that stackage replies with correct badge.

There are some middlemen who are likely to be causing this problem:

- Github's caches. Here is the [url][github-cached-badge] which github puts in

[2016-03-24 01:45] zudov commented on #165
Here is the relevant issue https://github.com/github/markup/issues/224, I remember reading that before, but I absolutely forgot to take care of it.

[2016-03-24 02:07] zudov commented on #165
Hmm. It seems that I actually did try to take care of it https://github.com/fpco/stackage-server/pull/141. Seems like it wasn't enough, adding `ETag` header would make a lot of sense. Travis and some other services also set `Pragma: no-cache` but I guess in our case we wouldn't mind some caching as long as ttl is a few hours.

[2016-03-24 03:15] juhp commented on #165
Ah right I see what you mean - github caches images put in wiki markup right.

[2016-03-24 03:17] juhp commented on #165
The image for the badge I see is: https://camo.githubusercontent.com/87f896d94f3ba26f115312501af838c2274f173d/68747470733a2f2f7777772e737461636b6167652e6f72672f7061636b6167652f686c696e742f62616467652f6c74733f6c6162656c3d537461636b616765

[2016-04-17 15:27] charles-cooper opened #166 "Display links to packages and/or changelogs on diff"
It would be helpful when reviewing snapshot diffs (e.g. https://www.stackage.org/diff/lts-5.12/lts-5.13) to have hyperlinks to either the packages or the relevant changelogs on either side, that way it is easier to review what changed in each individual package.

[2016-04-18 07:36] snoyberg commented on #166
I don't see a problem. Interested in trying your hand at a pull request?

On Sun, Apr 17, 2016, 6:27 PM Charles Cooper <notifications@github.com>
wrote:

[2016-04-18 14:41] charles-cooper commented on #166
Great! I can give it a try sometime this week.

[2016-04-18 22:17] mgsloan commented on #166
A little off the main topic, but it'd also be cool to have something like [hdiff](http://hdiff.luite.com/), but giving source diffs between a particular selection of snapshots.  Potentially a feature to add to hdiff itself.  Not sure if it lets me diff non-consecutive versions out of the box.

Getting even cooler, imagine something that could concatenate together these diffs, but only for packages

[2016-04-20 15:41] #166 closed

[2016-04-28 01:40] mgsloan opened #168 "Support viewing list of haddock rendered source files"
Based on the existence of http://haddock.stackage.org/lts-5.14/mono-traversable-0.10.2/src/Data-Sequences.html , I would expect http://haddock.stackage.org/lts-5.14/mono-traversable-0.10.2/src/ to be a list of src html files.  Instead, I get

![2016-04-27-183953_819x197_scrot](https://cloud.githubusercontent.com/assets/22570/14873093/7198b7a2-0ca7-11e6-9693-68760a750538.png)

[2016-05-02 14:14] chrisdone opened #169 "Add a Hoogle search within a package"
An idea we thought of in a meeting with @snoyberg.

[2016-05-02 14:23] chrisdone opened #170 "Style up the haddock pages to match haskell-lang"
FIXME's here provide a way to achieve that on existing haddocks:

https://github.com/fpco/stackage-server/commit/60af396f9c769114de59226963b151a35ab34ee2#diff-3575859d62885096be97934a89513efaR1

This way we don't have to modify haddock past or present.

[2016-05-02 15:22] chrisdone opened #171 "Drop cabal information from stackage.org"
Or add classes around it so that we can drop it for use in haskell-lang. Stack has enough of a portion of Haskell users, with very few that use both stackage and cabal (and they don't need instructions).

[2016-05-02 21:06] mgsloan commented on #170
It would be great to have haddocks that weren't screen width.  Hard to read paragraphs of text that fit a bunch of sentences on a single line!

[2016-05-03 01:03] DanBurton commented on #171
What exactly are you suggesting to be dropped? The cabal.config link & instructions? Or something more?

[2016-05-04 22:49] MaxGabriel opened #172 "stackage.org is really slow"
I'm finding stackage.org really slow to load, both for regular results like the front page, as well as hoogle search results. Do other people experience this as well? Is the server just overloaded? I could potentially help improve this, but figured I should ask about it first.

Front page:

[code]

Searching hoogle:

[code]

[2016-05-04 23:22] mgsloan commented on #172
I get similar timings for hoogle (not sure there's much we can do about that, directly).  For `stackage.org` I get 0.7 seconds.

[2016-05-04 23:48] MaxGabriel commented on #172
Ah ok, my `stackage.org` timings are sub-second now as well. Is the hoogle slowness just a limitation of hoogle searching speed?

[2016-05-04 23:49] mgsloan commented on #172
I'd imagine so, yes, probably because we're searching the whole set.

[2016-05-05 09:06] rvion commented on #172
that's strage. hoogle used to be much faster before, and I don't think the package number increase is proportional to the slowdown.
maybe hoogle speed don't decrease linearly with the size of its db ?
maybe the workload on stackage / hoogle is bigger that what it use to be with the growing popularity of stack ?

[2016-05-06 14:13] nh2 commented on #172
For me, stackage.org's homepage loads in sub-second time, and that hoogle query took 21 seconds.

[2016-05-06 15:34] borsboom commented on #172
I looked at the clusters' server metrics, and they don't look overloaded, tending to hover around 50% CPU utilization without much in the way of spikes.  I'll try bumping it to three replicas on each cluster (for a total of 6) and see if that makes a difference.  Currently the nodes are running on m3.medium instances, but we could potentially try making those larger as well.

[2016-05-06 16:43] borsboom commented on #172
I've done some more testing, and I run hoogle queries like the slow one above, I can watch the stackage-server process pin a core the whole time, so not too surprising that the amount of observed can vary widely, as it will very much depend on the overall load on the nodes, and when it takes this long to return results, it will be common for multiple hoogle requests to be happening at the same tim

[2016-05-08 08:41] snoyberg commented on #172
I've pushed two minor tweaks to the Hoogle handling:

* It will only count up to 20 entries, avoiding the need to force extra results when they aren't needed for display
* Each server process will only answer one Hoogle query at a time, hopefully preventing the rest of the site from being slow

I'm deploying now, let's see if this helps

[2016-05-08 09:06] rvion commented on #172
@snoyberg just tested , and it doesn't seem to be better on my side.
I'll test again in a few hours

[2016-05-08 09:07] snoyberg commented on #172
It's not deployed yet

On Sun, May 8, 2016, 12:06 PM Rémi Vion <notifications@github.com> wrote:

[2016-05-08 14:23] snoyberg commented on #172
Alright, the change is deployed. I'm not seeing a major improvement on the Hoogle page load time, but the rest of the site at least seems like it remains more reliably responsive.

@ndmitchell: Do you have any input on high CPU usage when performing Hoogle queries?

[2016-05-08 17:17] ndmitchell commented on #172
You guys are on Hoogle 4. The prototype Hoogle 5 at http://hoogle.haskell.org/ is dead fast, on a very underpowered server, albeit with a few less features. I should really finish it up and we can roll it out.

For info, some specific Hoogle 4 searches can be really slow (bad asymptotics) so they will always take a while.

[2016-05-12 11:05] NCrashed opened #173 "Installation instruction: Confusing Windows users"
Several people were already caught up by the issue:

1. Google [haskell stack windows](https://www.google.com/search?q=stack+haskell+windows)
2. Go to the first match `Haskell Installation Instructions :: Stackage Server`
3. Don't read text body, scroll to `Windows` section (most users don't read unclear deprecation note at tope)
4. Go to [more information](https://github.com/fpco/minghc#readme) a

[2016-05-12 14:56] snoyberg commented on #173
Pinging @chrisdone. We're currently working on some improved installation instructions, which will be hosted on haskell-lang.org. We should probably just have /install redirect to that new page when available.

In the meanwhile, I don't see anything wrong with removing the "alternative" content from /install. Want to send a PR? Relevant content is at: https://github.com/fpco/stackage-content/blob/

[2016-05-12 16:24] NCrashed commented on #173
Done.

[2016-05-12 16:35] snoyberg commented on #173
Thanks, merged.

[2016-05-12 16:35] #173 closed

[2016-05-14 11:18] mrkkrp opened #174 "Stackage keeps redirecting to pages that use nonexistent Hoogle databases"
For example, if I go to

https://www.stackage.org/nightly/hoogle?q=sourceIOHandle

right now I'm redirected to

https://www.stackage.org/nightly-2016-05-13/hoogle?q=sourceIOHandle

which looks like this:

![stackage](https://cloud.githubusercontent.com/assets/8165792/15268167/299abcc8-1a00-11e6-9735-cd9ac0fd3085.png)

This is not the first day I see that.

[2016-05-14 15:57] rvion commented on #174
I saw that a couple of time too

[2016-05-14 16:02] DanBurton opened #175 "Intermittent 502 Bad Gateway response"
I'm getting occasional 502 Bad Gateway responses from https://www.stackage.org today.

[2016-05-15 13:20] jtojnar commented on #125
Is there any reason why this no longer works?

* [lts-3.20](http://haddock.stackage.org/lts-3.20/yesod-1.4.2/src/Yesod.Default.Config.html) is hyperlinked
* [lts-3.21](http://haddock.stackage.org/lts-3.21/yesod-1.4.2/src/Yesod-Default-Config.html) is not
* [lts-4](http://haddock.stackage.org/lts-4.2/yesod-1.4.2/src/Yesod-Default-Config.html) is not
* [lts-5](http://haddock.stackage.org/lts-5.17/ye

[2016-05-16 16:16] snoyberg commented on #175
I forgot to post: I kicked the server, and I haven't seen the issues since then. Pinging @borsboom

[2016-05-16 16:17] snoyberg opened #176 "Fix the Haddock mangling code"
The current code in Handler.Haddock badly mangles the HTML, since it uses a function (showToken) from tagstream-conduit which doesn't properly escape HTML entities. This should be fixed, either by reimplementing `showToken` locally, converting the tokens to xml-conduit's `Event` type, or something similar.

[2016-05-17 15:05] phadej opened #177 "Hackage version wrong on package page"
e.g. https://www.stackage.org/lts-2.22/package/case-insensitive-1.2.0.4 or https://www.stackage.org/lts-2.22/package/ad-4.2.3, Seems to show the version in the snapshot viewed.

<img width="465" alt="screen shot 2016-05-17 at 18 04 11" src="https://cloud.githubusercontent.com/assets/51087/15327363/e1ab9e94-1c59-11e6-8493-86abd9bbd8df.png">

[2016-05-17 15:30] snoyberg commented on #177
Pinging @juhp

Yeah, it's showing the current version on this page, not the most recent version available on Hackage. I'm not sure what the desired display would look like.

[2016-05-17 16:16] phadej commented on #177
The current version should definitely be on the page (maybe in title or as a subtitle),
but the latest version (i.e. the one on Hackage) is interesting information as well.

[2016-05-17 16:48] snoyberg commented on #177
I've just pushed a commit that should fix this, though I'm not convinced it's the optimal display. There are now four different versions that can appear on the page:

* Current version being displayed (none if the package is not in any snapshot)
* Version in latest LTS if available
* Version in latest Nightly if available
* Most recent version from Hackage

I pushed this change to the `prod` branc

[2016-05-17 17:00] snoyberg commented on #175
You OK if I close this issue, since the problem seems to be resolved for now?

[2016-05-17 17:44] DanBurton commented on #175
Sure.

[2016-05-17 17:44] #175 closed

[2016-05-17 20:35] AndrewRademacher opened #178 "Inconsistency in documentation (README.md)"
The README refers to two files in the config directory that have a `-sample` suffix. These configuration files don't actually exist in the `master` branch. Are the files missing or is the documentation out of date?

[2016-05-17 20:55] AndrewRademacher commented on #176
@mgsloan provided supporting example cases for this issue. The mangling can be observed in the identifier names from the module listed below. Both the source and Haddock pages are provided.

- [Source](https://s3.amazonaws.com/haddock.stackage.org/lts-5.17/base-unicode-symbols-0.2.2.4/src/Control-Applicative-Unicode.html#%229B)
- [Haddock](https://s3.amazonaws.com/haddock.stackage.org/lts-5.17/bas

[2016-05-17 20:59] mgsloan commented on #176
I'm actually not 100% sure that it's the mangling described here.  But it is certainly some variety of mangling, either at the haddock level or stackage-server.

[2016-05-18 00:54] juhp commented on #177
Thanks Michael, I agree - i actually noticed this a little while back but I didn't get round to reporting or looking into it. I will try to find some time soon to look into it more and get the right version on the page.

[2016-05-18 05:03] snoyberg commented on #176
That's not the problem under discussion. The issue under discussion is that HTML entities, especially in code examples, are not being escaped. If you look at the comments in Handler.Haddock, you'll see that this code path is currently disabled.

[2016-05-18 05:04] snoyberg commented on #177
For the record, I've already pushed some updates, though further improvements are definitely welcome.

[2016-05-18 05:55] #178 closed

[2016-05-18 05:56] snoyberg commented on #178
Good catch, that content is no longer necessary. I've removed it. If you see other improvements to be made to the README, please speak up/send a PR.

[2016-05-23 01:38] carldong opened #179 "The cabal.config option does not work"
I am using Haskell Platform 7.10.3 for now, and I am trying the cabal install using `cabal.config` provided in <stackage.org>, and I get this when I do `cabal update`:

     Unrecognized field constraints on line 5

[2016-05-23 01:55] carldong commented on #179
Seems like if I manually change every line to

    constraint: (something)

then `cabal update` does not report error. I hope that means it works this way

[2016-05-23 06:07] snoyberg commented on #179
Are you trying to use the local config file in the global location? Note that there are two difference versions, e.g.:

https://www.stackage.org/lts-5.17/cabal.config

vs

https://www.stackage.org/lts-5.17/cabal.config?global=true

[2016-05-23 06:42] carldong commented on #179
Oh, I see. However, the Stackage site does not mention this, I believe

[2016-05-23 06:50] snoyberg commented on #179
It does mention both there local and global configurations on each snapshot
page, with links to the appropriate files.

On Mon, May 23, 2016, 9:42 AM Rongcui Dong <notifications@github.com> wrote:

[2016-05-23 07:19] carldong commented on #179
Ah, I found it. Missed that line for many times.

[2016-05-23 07:19] #179 closed

[2016-05-25 14:53] #176 closed

[2016-06-14 10:10] pypingou opened #182 "Package page inconsistent"
The version displayed on the package page are inconsistent, it's like one of the server isn't running the same code as the others.

Belong are two screenshot of https://www.stackage.org/package/aeson taken right now with just a few 'refresh' in between:

![screenshot from 2016-06-14 12-08-35](https://cloud.githubusercontent.com/assets/1240038/16039254/03e2253e-3229-11e6-8159-fc2fd138f31f.png)
![sc

[2016-06-14 10:12] pypingou commented on #182
This breaks the stackage plugin for https://release-monitoring.org

[2016-06-15 11:56] snoyberg commented on #182
It was a failed deployment, it should be fixed now

[2016-06-15 14:11] pypingou commented on #182
Thanks :)

[2016-06-15 14:15] #182 closed

[2016-06-16 21:30] rvion opened #183 "Anormal hoogle result differences between LTS and Nightly"
There is anormal hoogle result differences between LTS and Nightly

👉 Is `base` documentation missing in nightly hoogle DB ?
## Query

[code]
## LTS results

https://www.stackage.org/lts-6.3/hoogle?q=%3A%3A+Ord+b+%3D%3E+b+-%3E+b+-%3E+b

top 3 results:

[code]
## Nightly results

https://www.stackage.org/nightly/hoogle?q=%3A%3A+Ord+b+%3D%3E+b+-%3E+b+-%3E+b

top 3 results:

[code]

[2016-06-17 15:47] simonmichael opened #184 "snapshot contents shown on stackage.org not matching reality ?"
As just discussed on #haskell-stack. Is stackage.org confused, or is it me ? Eg: https://www.stackage.org/package/hasktags says "This package is not currently in any snapshots.", but of course it is:
[code]

[2016-06-17 16:58] bergmark commented on #184
I think hasktags is not in stackage but stack resolves the dependencies with the snapshot and builds it anyway.

[2016-06-17 17:45] simonmichael commented on #184
Right you are! I searched the user guide but failed to find this the first time. Now I see it:

http://docs.haskellstack.org/en/stable/GUIDE/#targets-locals-and-extra-deps:
*whether it's a local package, in your extra-deps, in your snapshot, or just available upstream*

and more clearly (today I noticed the build command has an additional guide all of its own!):

http://docs.haskellstack.org/en/st

[2016-06-17 17:45] #184 closed

[2016-06-17 17:58] simonmichael opened #185 "build output should indicate when a package is coming from upstream"
When stack build is asked to install a package that's not local or in a snapshot, it can fetch it from upstream/Hackage, which looks like this:
[code]
I found this rather confusing, assuming it meant the package was being fetched from the lts-6.0 snapshot (cf https://github.com/fpco/stackage-server/issues/184). An explicit "package fetched from hackage" message would also help to combat the (not u

[2016-06-20 07:06] tomjaguarpaw opened #186 "foldr in base appears on page 4 of Hoogle"
Currently I have to scroll to page 4 before I find the definition of `foldr` from `base`.  It should be the first result!

https://www.stackage.org/lts-6.3/hoogle?q=foldr&page=4

[2016-06-20 08:54] snoyberg commented on #177
I think this is resolved, closing. If something still needs to be done, please reopen.

[2016-06-20 08:54] #177 closed

[2016-06-20 12:52] snoyberg commented on #185
This was probably intended as an issue against Stack, not stackage-server.

[2016-06-20 13:40] sjakobi opened #187 "https://www.stackage.org/download/snapshots.json is currently unreachable for some users"
See https://github.com/commercialhaskell/stack/issues/2290.

cc @wapxmas

[2016-06-25 11:02] nd2s opened #188 "Design of Haddock docs"
I'm sorry, but I find the current CSS style of the Haddock documentation on stackage.org horrible. It's impossible to work with. There is almost no contrast, everything looks the same, and it takes up more space than the Hackage one (which makes it less overseeable). I can't even see what's linked and what not.

Any chance the standard-Haddock/Hackage one will return?

[2016-06-25 22:14] AaronFriel opened #189 "Feature request: show repository and commit hash for each package"
Good example:

I want to modify my local version of `yesod`, without introducing too many variables and potentially upstreaming any changes. So I check, I'm on `lts-6.4`, so I find this: https://www.stackage.org/lts-6.4/package/yesod-1.4.3

How do I clone yesod 1.4.3 so that I'm working with the same source, to ensure I don't introduce a subtle bug by pulling from `HEAD`?

(Note: In this case 1.4.

[2016-06-26 09:43] bergmark commented on #189
A `source-repository` section in the cabal file can be used to point to a tag for the release, but pretty much no one uses this feature as it's not automated. The safe way would be to just use the release tarballs.

[2016-06-26 11:20] snoyberg commented on #188
This tone on a clearly subjective topic is unlikely going to make contributors amenable to making changes. Perhaps you'd be interested in sending a PR to give the user an option to disable the modified styling via a query string parameter or cookie?

As a personal vote, I find the newer styling easier on the eyes and the more reliable table of contents make it much easier to navigate.

[2016-06-27 06:27] mimi1vx opened #190 "Stackage.org isn't synced with lts-haskell and stackage-nightly github"
On website is missing LTS-6.5 and nightly stop updates after 2016-06-21 :(

[2016-06-27 07:32] snoyberg commented on #190
Thanks for the ping. Build server ran out of disk space, I've fixed the problem.

[2016-06-27 07:32] #190 closed

[2016-06-29 12:08] nd2s commented on #188
Oh, looks like Github forgot to notify me about your reply.

Sorry, this wasn't meant to be rude.
Except for the I-find-it-horrible part, I don't find this that subjective, though. Lower contrast is objectively harder to read.

I'll look into it, maybe I can come up with a quick (and clean) solution.

[2016-06-30 12:35] hanshoglund opened #191 "Filter snapshot list on LTS/nightly"
I hope this is the right place for this feature request:

It would be nice to have a page like `https://www.stackage.org/snapshots`, except it displays *only* LTS snapshots, nightly snapshots or possibly some other kind of subset.

Main use case is when picking the correct template/snapshot for a new project, or considering upgrading a project to use a newer snapshot.

Suggested route patterns:

[

[2016-07-06 09:56] chreekat commented on #188
Here's something that I hope we can agree is objectively bad:

![image](https://cloud.githubusercontent.com/assets/538538/16613686/0cb51d52-4376-11e6-8ff8-386d3c067c92.png)

On Hackage, this is:

![image](https://cloud.githubusercontent.com/assets/538538/16613802/91603046-4376-11e6-859e-ba90473d6e4a.png)

Pros of the Hackage version:
* easy-to-discern links in the types
* clear distinction between

[2016-07-09 17:49] jtojnar commented on #188
I am more concerned about syntax highlighting – for me, the page looks almost as if there was not any. Only after closer inspection, I notice the subtle differences in hues. This defeats the whole purpose of the highlighting (easier navigation in the code without having to focus on the code itself).

And I still have quite good colour vision, I cannot even imagine how it must feel for less fortuna

[2016-07-12 15:27] erantapaa opened #192 "inaccurate "Depends on" section on stackage pages"
Here is an example:

https://www.stackage.org/lts-6.0/package/both-0.1.0.0

It looks like the "Depends on" reflects the latest version of the package, not the version that's in the specified resolver.

[2016-07-15 16:44] snoyberg commented on #192
To quote my response on the mailing list:

[2016-07-15 17:01] chrisdone commented on #191
Nice idea. LTS snapshots are what most people use after all.

[2016-07-15 17:02] chrisdone commented on #187
I believe this may have been related to our slowness issues. It might be fixed now that we've changed our deployment.

[2016-07-15 17:04] chrisdone commented on #186
Thanks for the report, this is an artifact of upgrading to hoogle 5, I'm not sure what's causing this ordering at the moment.

[2016-07-15 17:05] chrisdone commented on #186
Closing as dupe of #183. Bump again if I've misjudged.

[2016-07-15 17:05] #186 closed

[2016-07-15 17:05] chrisdone commented on #183
Think this is the same as #186.

[2016-07-20 09:38] chrisdone commented on #192
We could also only display the `Depends on` list for the latest version, and for older versions have a link saying "Go to the latest version to see dependencies."

[2016-07-20 09:42] chrisdone commented on #189
As @bergmark said, there's no reliable relationship tracked in .cabal files and their git hash.

However, you can use `stack unpack`! 😀

[code]

:metal:

[2016-07-20 09:42] #189 closed

[2016-07-20 09:56] chrisdone commented on #188
Summarizing the points into some proposed action items:

1. Remove the "arguments" keyword in general - it's distracting, obvious and can be hidden with CSS.
2. Make the colours for links stand out more with higher contrast.
3. Pop a background colour on the type part of docs like Hackage.

I might get round to applying these this week, but someone else is free to tackle them meanwhile. Just post

[2016-07-20 09:57] chrisdone commented on #188
The example page used in discussion was: https://www.stackage.org/haddock/lts-6.7/persistent-2.2.4.1/Database-Persist-Class.html

[2016-07-20 09:59] chrisdone commented on #185
@simonmichael Can you open an issue in stack? Cheers!

[2016-07-20 09:59] #185 closed

[2016-07-20 10:04] chrisdone commented on #172
Hoogle5 is deployed, and we also changed the deployment of stackage.org itself which significantly speeded up the site in general.

[code]

[2016-07-20 10:04] #172 closed

[2016-07-20 10:05] #170 closed

[2016-07-20 10:05] chrisdone commented on #170
This is done and deployed.

[2016-07-20 10:06] chrisdone commented on #168
Seems like that's an artifact of defaulting to `index.html`.

[2016-07-20 10:07] chrisdone commented on #165
@juhp is this still happening?

[2016-07-20 10:09] chrisdone commented on #158
This is added, hoogle5 is deployed.

https://www.stackage.org/lts-6.7/hoogle?q=map+%2Bvector

[2016-07-20 10:09] #158 closed

[2016-07-20 10:10] chrisdone commented on #154
Thanks!

[2016-07-20 10:10] #154 closed

[2016-07-20 10:12] chrisdone commented on #148
Anybody want to propose some action items for this?

[2016-07-20 10:13] chrisdone commented on #143
I like this idea!

[2016-07-20 10:20] chrisdone commented on #140
Perhaps if it just lists like this:

* BSD3: base, vector, ...
* MIT: yesod, ...
* GPL: pandoc

I.e. presumably you _really_ just want to know "what licenses are being used?" In the case of the above output, BSD3 and MIT are compatible in terms of using them to write new BSD3/MIT software or proprietary software, but GPL is a blocker.

The first question you might ask, if you don't give up altoget

[2016-07-20 10:21] #136 closed

[2016-07-20 10:21] chrisdone commented on #126
👍

[2016-07-20 10:21] juhp commented on #165
Looks okay to me now, thanks - though I haven't checked now very extensively.

[2016-07-20 10:22] #165 closed

[2016-07-20 11:10] chrisdone commented on #125
@snoyberg any idea?

[2016-07-20 11:10] chrisdone commented on #119
Sure, the left works. PR?

[2016-07-20 11:13] chrisdone commented on #118
Seems like this issue lingered for a long time. What's your current workflow?

[2016-07-20 11:15] chrisdone commented on #107
Popping down as enhancement.

[2016-07-20 11:15] chrisdone commented on #102
This one's done.

[2016-07-20 11:15] #102 closed

[2016-07-20 11:16] chrisdone commented on #73
I take back this feature request in favor of `stack hoogle` and related tooling.

[2016-07-20 11:16] #73 closed

[2016-07-20 14:24] snoyberg commented on #125
There were bugs in the prerelease version of Haddock with this support, so we rolled back to the Haddock that ships with GHC. I'm not aware of any officially released version with support for this. Is that information outdated?

[2016-07-22 00:21] simonmichael commented on #158
Thanks!

[2016-07-22 00:33] simonmichael commented on #185
Done, thanks.

[2016-08-10 19:01] bitemyapp opened #194 "Search results link to Hackage, not Stackage."
https://www.stackage.org/lts-6.11/hoogle?q=amazonka

[2016-08-12 02:45] erantapaa opened #195 "Are the hoogle .txt files available?"
Are the individual hoogle .txt files available for each package?

IIRC, the complete compiled hoogle database for a resolver is available (although I can't remember how to access at the moment), but I'm interested in the raw .txt files.

[2016-08-23 15:15] chrisdone commented on #195
I don't think that's currently exposed. I'm curious, what's your use-case?

[2016-08-23 15:19] chrisdone commented on #195
The upcoming `stack hoogle` _may_ be of interest depending on your use-case.

[2016-08-23 15:19] #195 closed

[2016-08-23 15:21] chrisdone commented on #194
Good catch. Expanding: https://www.stackage.org/lts-6.11/hoogle?q=base

It's the `package` results that link to Hackage. The output from Hoogle needs a bit more munging.

[2016-08-23 15:22] chrisdone commented on #187
Closing, re-open if it comes back.

[2016-08-23 15:22] #187 closed

[2016-08-23 15:52] chrisdone commented on #188
Opened a PR to fix this. This reverts the style back to regular Hackage but with just the color theme of HL.

<img width="853" alt="screenshot 2016-08-23 17 50 34" src="https://cloud.githubusercontent.com/assets/11019/17899071/5abf894c-695a-11e6-9b70-c726c1a385db.png">

[2016-08-23 15:55] chrisdone commented on #174
Is this perhaps because the database hasn't been generated yet? It's there now, and your issue was opened the day after the nightly was generated.

[2016-08-23 20:21] chrisdone commented on #188
Deployed to production: https://www.stackage.org/haddock/lts-6.7/persistent-2.2.4.1/Database-Persist-Class.html

[2016-08-23 20:21] #188 closed

[2016-08-23 20:22] chrisdone commented on #188
If that's not legible we can make the blue bolder or something.

[2016-08-24 21:58] erantapaa commented on #195
It would just be nice to get the hoogle index files without having to build all of Stackage - i.e. much like you can get the index files from Hackage via http://hackage.haskell.org/packages/hoogle.tar.gz

My use case right now is just experimentation with alternative ways of querying / displaying that information. Since you are building those files anyway, perhaps it can made available
at some can

[2016-08-28 16:09] kosmikus commented on #171
This seems to have already been committed? https://github.com/fpco/stackage-server/commit/e0f8755f95a8f6987da70a88d39920d5c4564158

I fail to understand why this is an enhancement. The config files are very useful for me when I want to provide Stackage compatibility for my code, and without the links, I don't see how I would know that they're there / where they are.

I don't understand the comment

[2016-08-29 09:57] kim commented on #188
@chrisdone why was the change reverted (#197)? I found it a huge improvement...

[2016-08-29 10:08] rvion commented on #188
same question here

[2016-09-07 16:55] mitchellwrosen opened #199 "Missing ubuntu-mono font"
`<pre>` tags are styled with

[code]

but I don't have this font installed, so code blocks are being rendered in some non-monospaced default font. Is there any way to instead fall back on a `font-family: monospaced` instead?

[2016-09-23 06:52] qrilka commented on #199
This one is big argument to prefer hackage haddocks over ones from stackage, at least for me

[2016-09-23 07:07] snoyberg commented on #199
Chris is on vacation, but I can probably push a fix later today. If someone
wants to send a PR to include a better monospace fallback, I'll be able to
merge that pretty quickly.

On Fri, Sep 23, 2016, 9:52 AM Kirill Zaborsky <notifications@github.com>
wrote:

[2016-09-23 11:06] qrilka commented on #199
@snoyberg any pointers to the CI server where I could check that?

[2016-09-23 11:24] snoyberg commented on #199
Forgot to copy-paste the link, sorry. https://ci.stackage.org

[2016-09-23 12:41] qrilka commented on #199
That's much better, thanks @snoyberg

[2016-09-23 12:44] snoyberg commented on #199
Cool, I just merged to prod. If in the future you notice possible CSS improvements, don't hesitate to send a PR.

[2016-09-23 12:44] #199 closed

[2016-09-23 12:46] qrilka commented on #199
But @snoyberg there is #200 already

[2016-09-23 12:49] snoyberg commented on #199
I didn't see that, I don't actively monitor this repo usually. I'd have
gone with that instead.

On Fri, Sep 23, 2016, 3:46 PM Kirill Zaborsky <notifications@github.com>
wrote:

[2016-09-26 12:03] psibi opened #202 "Reduce some transparency on synopsis section"
Right now there are situations like this:

![stack-bug](https://cloud.githubusercontent.com/assets/737477/18833625/3d4cbeaa-840f-11e6-9cbd-aa355e12bf58.png)

[2016-09-26 12:11] snoyberg commented on #202
Good catch. Does that look better?
https://ci.stackage.org/haddock/lts-6.1/base-4.8.2.0/Text-ParserCombinators-ReadP.html

On Mon, Sep 26, 2016 at 3:03 PM, Sibi <notifications@github.com> wrote:

[2016-09-26 13:57] psibi commented on #202
Thanks, that is perfect. :+1:

[2016-09-26 14:00] snoyberg commented on #202
Cool, pushed to prod, it should deploy in the next 5 minutes or so.

[2016-09-26 14:00] #202 closed

[2016-09-27 07:47] chrisdone commented on #199
👍

[2016-10-02 20:43] TamaHobbit opened #203 "stackage-lts-2.14 does not exist"
I'm trying to build the [Empiresmod website](https://github.com/EmpiresCommunity/website). It was built using a long term service stackage package, for which [the link still seems to work.](https://www.stackage.org/lts-2.14) And yet, attempting to use it by running cabal build fails, stating the package list for 'stackage-lts-2.14' does not exist.

[code]

[2016-10-05 01:10] snoyberg commented on #203
Did you run `cabal update` as suggested?

[2016-10-05 12:26] TamaHobbit commented on #203
Yes; that didn't change anything.

It seems to work when I use stack build though - I don't really know why cabal would be necessary at all.

[2016-10-05 12:26] #203 closed

[2016-10-05 12:28] snoyberg commented on #203
It's possible that with an LTS that old, the original docs were written
before Stack was released. Maybe send them a PR to recommend using Stack
for installation instead?

On Wed, Oct 5, 2016 at 3:26 PM, Tama McGlinn <notifications@github.com>
wrote:

[2016-10-13 05:02] duplode opened #205 "Add a lookup for the most recent snapshot carrying a package"
### User story

Let's say I have a Hakyll-powered site that I haven't touched in several months. I want to update it to the latest Hakyll version, which according to [the site of that project](https://jaspervdj.be/hakyll/releases.html) is 4.8.3.2. Since Hakyll is a popular library and I have successfully built my site with stack in the past, I assume I can just change the stack resolver to the rec

[2016-10-15 13:53] Blaisorblade opened #206 "Temporary "openFile: resource busy (file is locked)" from Hoogle search"
Just got, from https://www.stackage.org/lts-7.0/hoogle?q=elem&exact=on, the following text
[code]
This was transitory, but I thought maybe you'd wanna know. Feel free to close if that's as intended.

[2016-10-15 17:52] snoyberg commented on #206
I'm putting in some more advanced locking behavior to ensure only one thread at a time is working on a file. I have a feeling I should generalize this logic into a library somehow...

[2016-10-15 17:58] snoyberg commented on #206
OK, I've just pushed a commit for master with this logic. A code review would be welcome actually :) d2f2e15

[2016-10-15 19:16] DanBurton commented on #206
My review: https://github.com/fpco/stackage-server/commit/d2f2e1537fb879e7ec81800f0b438c4f2115ad22#commitcomment-19440622

The approach LGTM.

[2016-10-15 21:32] Blaisorblade commented on #206
Wow, thanks for the prompt response, I'm impressed! You just ensured I'll probably report such things again next time!

[2016-10-16 07:39] snoyberg commented on #206
Closing on the assumption the fix I wrote actually solves this. If we see it again, let's reopen.

[2016-10-16 07:39] #206 closed

[2016-10-21 07:39] snoyberg commented on #206
I've added a new module, `Control.SingleRun`, that captures this logic. I avoided using STM or containers so it could theoretically be added to auto-update if desired.

[2016-10-21 07:40] snoyberg commented on #206
Sorry, forgot to add the commit link: 37d7a52

[2016-10-21 07:40] snoyberg commented on #206
Nope, I'm still an idiot: b5f562a

[2016-11-06 22:32] ozgurakgun opened #210 "Latest LTS for a given GHC version"
(Moving from fpco/stackage#1955)

[2016-11-07 05:04] snoyberg opened #211 "List issue tracker website link on package page"
Also would be nice: detect if a package has a Github repo, and include an explicit Github link

[2016-11-07 05:26] #210 closed

[2016-11-07 05:32] snoyberg commented on #210
This is deployed to the CI server, can you check it out? https://ci.stackage.org/

[2016-11-07 10:22] ozgurakgun commented on #210
Looks great @snoyberg, thanks!

[2016-11-12 07:48] psibi opened #212 "Feature request: Redirect to latest lts by default when no lts version is specified"
The following URL

https://www.stackage.org/haddock/lts-7.0/http-client/Network-HTTP-Client.html

redirects to a proper version of http-client within that lts:

https://www.stackage.org/haddock/lts-7.0/http-client-0.4.31.1/Network-HTTP-Client.html

But the following doesn't work:

https://www.stackage.org/haddock/lts/http-client/Network-HTTP-Client.html

It would be nice if this url can resolve to

[2016-11-13 06:42] snoyberg commented on #212
Great idea! Can you test this out on the CI server?

https://ci.stackage.org/haddock/lts/http-client/Network-HTTP-Client.html

[2016-11-13 08:34] psibi commented on #212
Thanks, works as expected.

[2016-11-13 09:06] snoyberg commented on #212
Cool!

[2016-11-13 09:06] #212 closed

[2016-11-22 16:40] BartAdv opened #214 "Fix the ordering of the hoogle results"
Following the reddit comment thread: https://m.reddit.com/r/haskell/comments/5e8ptf/comment/daaryjb

Right now, the results seem to be sorted alphabetically, which, for example gives Agda as first result when searching for `<$>`. Sorting by number of reverse dependencies could be a possible option for more meaningful results.

[2016-11-24 11:47] #171 closed

[2016-11-25 04:54] snoyberg commented on #214
@ndmitchell Is there any guarantee on the order of results from Hoogle, or any way to influence the order in which results come back?

[2016-11-25 09:21] ndmitchell commented on #214
See http://hoogle.haskell.org/?hoogle=%3C%24%3E&scope=set%3Astackage which gets it right because it does sort by reverse dependencies. You are on Hoogle 5, right? Question is if the information isn't in the Hoogle database, or if it's being lost after that.

[2016-11-25 10:15] snoyberg commented on #214
Yes, but we're specifically using this commit:

https://github.com/snoyberg/hoogle/tree/765bd653d687e8569cd989be1637de86dcb20d56

Was the functionality added after that commit?

[2016-11-25 13:47] ndmitchell commented on #214
That links to Hoogle 4, which doesn't have that feature.

[2016-11-25 14:00] snoyberg commented on #214
The .cabal file calls it version 5.0:

https://github.com/snoyberg/hoogle/blob/765bd653d687e8569cd989be1637de86dcb20d56/hoogle.cabal#L4

But I can try bumping to a newer commit (or just the released version on Hackage). Downside is it will invalidate all existing Hoogle DBs, but with the faster generation I can probably start allowing it to regenerate more DBs than it has in the past. I'll probabl

[2016-11-26 13:15] ndmitchell commented on #214
I followed the first link on a mobile, and it definitely didn't end up where it does from a desktop.

I am pretty sure that version has the popularity thing in it - but upgrading seems like a good idea anyway - if there's a bug impacting you it's much easier to figure out from the latest code rather than old code. Is the Hoogle database available for download? That would let me see if it's a bug i

[2016-11-26 15:54] snoyberg commented on #214
@ndmitchell Thanks, there's an 85mb 5.0 database for LTS 7.9 at:

https://s3.amazonaws.com/haddock.stackage.org/hoogle/lts-7.9/5.0.hoo

I'm going to try deploying the upgrade soon.

[2016-11-26 16:17] snoyberg commented on #214
And here's a database generated for 5.0.5:

https://s3.amazonaws.com/haddock.stackage.org/hoogle/lts-7.10/5.0.5.hoo

Results don't look any better:

https://ci.stackage.org/lts-7.10/hoogle?q=%3C%24%3E

[2016-11-26 16:18] snoyberg commented on #214
And final comment before I stop spamming for the night, relevant code for generating the Hoogle DBs: https://github.com/fpco/stackage-server/blob/master/Stackage/Database/Cron.hs#L215

[2016-11-27 15:08] ndmitchell commented on #214
Hoogle 5 always writes out the version number, in plain text, at both the beginning and end of the database, as a sanity check and to give good error messages. A database I generate with 5.0.5 has "HOOGLE-5.0.5" at both the start and end. None of your databases do. Is that something you're deliberately stripping?

[2016-11-27 15:24] snoyberg commented on #214
No, not to my knowledge, that's very strange. I can look into this more
tomorrow.

On Sun, Nov 27, 2016, 5:08 PM Neil Mitchell <notifications@github.com>
wrote:

[2016-11-28 07:40] snoyberg commented on #214
@ndmitchell I figured out the problem: the files are `.gz` compressed, and most likely the download method you're using (e.g., just plain `wget`) isn't decompressing it. It's a funny artifact of how we're storing things with S3. If I `gunzip` the file, I see HOOGLE-5.0.5 at the beginning.

[2016-11-28 22:14] ndmitchell commented on #214
The order is wrong in the database. The reason is that `--local=dir` looks for `.txt` files which it uses for the Hoogle information, but doesn't read the `.cabal` files at all, so assumes everything is equally popular. When you are running `--local=dir` in your cron thing, are the `.cabal` files adjacent to the `.txt` files? Could they be? Having Hoogle make use of both files seems sensible.

[2016-11-29 04:43] snoyberg commented on #214
Yeah, I can do that pretty easily I think (hope).

On Tue, Nov 29, 2016, 12:14 AM Neil Mitchell <notifications@github.com>
wrote:

[2016-11-29 11:03] snoyberg commented on #214
@ndmitchell I've made modifications to stackage-server-cron to place the .cabal files in the directory. Just to confirm: is the situation that Hoogle does not currently look for the .cabal files locally?

[2016-11-29 11:28] snoyberg commented on #214
Alright, I think I got this figured out: https://github.com/ndmitchell/hoogle/pull/196

[2016-11-29 11:29] snoyberg commented on #214
And sure enough, with this new logic in place:

https://ci.stackage.org/lts-7.11/hoogle?q=%3C%24%3E

@ndmitchell I'll hold off on deploying these changes until you're happy with that Hoogle PR instead of deploying off of my branch. Thanks for the support!

[2016-11-29 20:50] ndmitchell commented on #214
I'm happy and have approved. Let me know if you want a release, or if working off a git hash makes no difference to you. Thanks a lot for the patches.

[2016-11-30 03:10] snoyberg commented on #214
A release would be nice in this case actually, in case users want to be
able to use the Hoogle databases we're generating.

On Tue, Nov 29, 2016, 10:50 PM Neil Mitchell <notifications@github.com>
wrote:

[2016-11-30 13:45] ndmitchell commented on #214
Hoogle 5.0.6 has now been released.

[2016-11-30 14:02] snoyberg commented on #214
Awesome, thanks!

On Wed, Nov 30, 2016 at 3:45 PM Neil Mitchell <notifications@github.com>
wrote:

[2016-11-30 17:38] snoyberg commented on #214
I think we're all good now:

https://www.stackage.org/lts-7.11/hoogle?q=%3C%24%3E

@BartAdv mind giving it a check and confirming?

[2016-11-30 21:21] BartAdv commented on #214
Yup, looks great now :)

[2016-11-30 21:21] #214 closed

[2016-12-05 12:20] kseo opened #215 "Broken link to the first Hoogle search result"
The link of the first Hoogle search result is broken

For example, try https://www.stackage.org/lts-7.12/hoogle?q=Typeable

The link to "module Data.Typeable" is file:///tmp/hoogle-lts-7.1231/Data-Typeable.html

[2016-12-05 13:37] snoyberg commented on #215
@ndmitchell Does something like this ring a bell by any chance?

[2016-12-05 13:54] snoyberg commented on #215
Oh, I misread this at first. It's _only_ that first link, which is a `module` link. The other links still work. It would appear this is not a regression from the recent Hoogle bump we made, but likely a bug that already existed.

[2016-12-05 14:31] snoyberg commented on #215
OK, this should be fixed now, can you give it a shot to confirm?

[2016-12-05 15:08] kseo commented on #215
It works fine now Thanks!

[2016-12-05 15:15] snoyberg commented on #215
Thanks for confirming!

[2016-12-06 08:49] kseo commented on #215
Reopen the issue as I still see the sample problem with other search keywords.

Try https://www.stackage.org/lts-7.12/hoogle?q=bytestring

[2016-12-06 14:00] snoyberg commented on #215
OK, should be fixed now too.

[2016-12-06 14:00] #215 closed

[2016-12-07 08:52] juhp opened #216 "top page listing latest lts7 as 7.0"
I noticed since yesterday that https://www.stackage.org/ under "Latest LTS per GHC version" now currently says:

* LTS 7.0 for GHC 8.0.1

even though the current LTS version is 7.12.

I didn't have time to look at the code or investigate but thought I would report this anyway.

[2016-12-07 14:17] snoyberg commented on #216
Thanks, should be fixed.

[2016-12-08 01:12] juhp commented on #216
Thank you

[2016-12-08 01:12] #216 closed

[2016-12-12 05:14] juhp opened #217 "snapshot incorrect hours ago"
This is a minor thing and I didn't have time to investigate yet but I noticed and thought I would report that the Snapshots column on the right side of http://stackage.org/ seems to show an incorrect number of hours ago for today's latest snapshot.

Eg lts-7.13 was uploaded about 1.5 hours ago but the website says "5 hours ago": maybe it is off by timezone??

[2016-12-12 09:26] snoyberg commented on #217
It should just say days, we don't actually try to track time of day information, and it's just assuming midnight.

[2016-12-12 09:44] #217 closed

[2016-12-16 10:41] juhp commented on #217
Thought i had posted a comment earlier... anyway looks good now thanks!

[2016-12-25 14:58] k-bx opened #218 "Images in diagrams not displayed"
I just did `stack init; stack haddock` on latest `diagrams-lib` sources and images are rendered fine locally, but they are absent on stackage. See [an example](https://www.stackage.org/haddock/lts-7.14/diagrams-lib-1.3.1.4/Diagrams-TwoD.html#v:triangle).

[2016-12-26 10:37] snoyberg commented on #218
I've just pushed a tweak that may address this to the stackage-curator repo, let's see if it's fixed in the next nightly upload.

[2016-12-28 13:00] k-bx commented on #218
@snoyberg yay, it's fixed, thank you! https://www.stackage.org/haddock/nightly-2016-12-28/diagrams-lib-1.4.0.1/Diagrams-TwoD.html#v:arcBetween

[2016-12-28 13:00] #218 closed

[2017-02-03 03:40] dogweather opened #219 "Enable package search"
I came to Stackage to search for `split`, as it's referred to in a `.cabal` file. But I get a list of results which don't seem to be ordered; a list of functions named `split` from various packages:

<img width="225" alt="screen shot 2017-02-02 at 7 32 35 pm" src="https://cloud.githubusercontent.com/assets/150670/22578569/838f1758-e97e-11e6-9382-87a595618baa.png">

Search will return the module on

[2017-02-05 10:12] snoyberg commented on #219
The search functionality is just an API search, but I don't see a problem with checking if the searched name matches a package name and providing that as the first search result. If you'd like to take a stab at a PR for that, I'd be happy to review.

[2017-02-14 05:48] chris-martin opened #220 "Autofocus interferes with scrolling"
https://www.stackage.org has Hoogle search fields with autofocus enabled. This is annoying for a few reasons, but the worst one is: When you scroll down to a package on https://www.stackage.org/lts, click a package, and then navigate back, you lose your scroll position because the autofocus causes the page to scroll back to the top.

I don't think the value added by the autofocus is worth the trou

[2017-02-20 07:44] juhp opened #221 "add stackage-server to Hackage?"
How about publishing stackage-server to Hackage, then it could be included in Stackage too?

[2017-02-20 07:45] snoyberg commented on #221
I'm not opposed, but the Hackage trustee team has put a lot of pressure on me to not release packages to Hackage that won't include bounds, so I'd rather not pick a fight for no reason.

[2017-02-20 07:47] alanz commented on #221
A quick look at the cabal file shows upper bounds on everything? Or is it the dependencies you are worried about?

[2017-02-20 07:51] snoyberg commented on #221
Huh, imagine that. It's because it's inherited from the Yesod templates, which include bounds. However:

1. The lower bounds are certainly not maintained correctly
2. I've never intended on keeping the upper bounds, and may remove them in the future

An application like stackage-server is the prime example IMO where bounds serve no purpose, since the only approved way of building is via the stack.

[2017-02-20 08:03] alanz commented on #221
Fair enough. For interest, with cabal 1.24 it does not find a build plan currently, the lens upper bound is too restrictive.
cabal master does find it though, so that is encouraging for the future.

If anyone cares enough to upload it to stackage, I am prepared to be listed as the guy to do PRs to maintain the upper bounds.

But if it does not go onto hackage it does not bug me.

[2017-02-22 19:02] psibi opened #222 "Synopsis missing in latest haddocks"
This used to be present previously in haddock:

![synopsis](https://cloud.githubusercontent.com/assets/737477/23227588/6d0ab884-f95f-11e6-90cc-567f0d0a3bc2.png)

Previous working url: https://www.stackage.org/haddock/lts-7.19/base-4.9.0.0/Control-Applicative.html
Latest non-working url: https://www.stackage.org/haddock/lts-8.2/base-4.9.1.0/Control-Applicative.html

[2017-02-23 06:10] snoyberg commented on #222
I think this is an upstream change at GHC or Haddock itself, as I'm reproducing that difference with my local GHC-provided HTML docs.

<img width="1239" alt="screen shot 2017-02-23 at 8 09 22 am" src="https://cloud.githubusercontent.com/assets/49415/23246884/7c80b9f4-f99f-11e6-988b-2738e533c031.png">

<img width="1243" alt="screen shot 2017-02-23 at 8 09 10 am" src="https://cloud.githubusercontent

[2017-04-05 01:08] juhp opened #224 "<command line>: cannot satisfy -package-key main"
Not sure if this is a local problem, but I couldn't get stackage-server to run locally today:

[code]

[2017-04-05 04:25] snoyberg commented on #224
Try upgrading to the latest yesod-bin and then running yesod devel, without
using Stack.

On Wed, Apr 5, 2017, 4:08 AM Jens Petersen <notifications@github.com> wrote:

[2017-04-06 01:49] juhp commented on #224
Thanks - that worked great! :)

How about updating the README file to reflect that?

[2017-04-06 08:35] snoyberg commented on #224
Done!

On Thu, Apr 6, 2017 at 4:49 AM, Jens Petersen <notifications@github.com>
wrote:

[2017-04-06 08:36] #224 closed

[2017-04-28 08:18] psibi commented on #222
Yes, it's a upstream issue. It has been fixed in master: https://github.com/haskell/haddock/issues/599
Closing the issue.

[2017-05-10 13:24] ndmitchell opened #226 "Latest LTS appears/disappears randomly as I refresh"
If I visit stackage.org, sometimes I get "2 days ago LTS Haskell 7.22 (ghc-8.0.1)" at the top of the list of releases. Sometimes I don't. It seems to be about 50% of the time. The remaining entries are consistent.

[2017-06-07 06:18] quchen opened #227 "Badges not updating?"
The Stackage badge for [my package](https://github.com/quchen/prettyprinter/#a-modern-wadlerleijen-prettyprinter) does not seem to update, even though it is included in Stackage since the beginning of the week. Is this maybe a caching problem?

[![](https://www.stackage.org/package/prettyprinter/badge/lts?style=flat-square&label=Stackage&colorB=0a7bbb)](https://www.stackage.org/package/prettyprint

[2017-06-07 13:03] snoyberg commented on #227
Your package is not in lts-8, which is what your URL is asking for (the latest LTS). The following badges work, for example:

* ![](https://www.stackage.org/package/prettyprinter/badge/lts-6?style=flat-square&label=Stackage&colorB=0a7bbb)
* ![](https://www.stackage.org/package/prettyprinter/badge/nightly?style=flat-square&label=Stackage&colorB=0a7bbb)

[2017-06-07 17:17] quchen commented on #227
Oh, I thought it was added in the last LTS release. Now that I look at [the ticket](https://github.com/fpco/lts-haskell/issues/57) is still open. I should have looked twice! Sorry about that.

[2017-06-07 17:17] #227 closed

[2017-06-07 19:02] snoyberg commented on #227
No problem

On Wed, Jun 7, 2017, 8:17 PM David Luposchainsky <notifications@github.com>
wrote:

[2017-06-10 18:43] neongreen opened #228 "Does Stackage provide API for getting a list of all packages in a snapshot?"
The closest I found was `lts-.../buildplan` (which returns `cabal.config`) but it doesn't quite work for me because it doesn't list versions of e.g. `array` and other GHC-installed packages.

If there isn't an API for that, I'm willing to implement it :)

[2017-06-11 12:07] snoyberg commented on #228
I don't believe we currently provide any JSON APIs. I'm not opposed to
providing them, but using the YAML files directly may be a better option.

On Sat, Jun 10, 2017, 9:43 PM Artyom Kazak <notifications@github.com> wrote:

[2017-06-11 20:10] neongreen commented on #228
Huh. Where can I find those YAML files?

[2017-06-12 03:11] snoyberg commented on #228
In the fpco/lts-haskell and stackage-nightly repos. The stackage-curator
package contains types that can deserialize those files.

On Sun, Jun 11, 2017, 11:10 PM Artyom Kazak <notifications@github.com>
wrote:

[2017-06-26 14:49] bergmark opened #229 "Better haddock error pages"
Originally submitted by @int-index in fpco/stackage#2270

Reproduction: https://www.stackage.org/haddock/lts-7.19/xml-conduit-writer-0.1.1.1/Instruction.html

[2017-07-12 04:47] mgsloan commented on #125
Closing, has hyperlinked sources.

[2017-07-12 04:47] #125 closed

[2017-07-22 14:19] fgaz opened #232 "Add cabal.config link to snapshot pages"
As the title says, I propose to restore the link to the `cabal.config` file in the snapshot pages.
It doesn't take much space (you can even hide it under a "+", just tell me if you want a pr for it), and it's one of the two ways to use Stackage (more so, it's the original one!).

I'm sure it will be useful to many. I only knew about that file because I already used it when the link was there, but

[2017-07-22 18:51] hvr commented on #232
See also https://github.com/fpco/stackage-server/issues/171#issuecomment-242982951

[2017-08-11 14:29] sigrlami opened #233 "Is it possible to have local instance?"
I want to have local instance of stackage, where
1. I can have specific LTS downloaded on local server
2. Custom package set on local server

Is it possible with current structure? How do I point `stack` to local instance?

I know I can run `stackage-server` as is. Is there a guide how to setup local snapshots?

[2017-08-13 13:44] snoyberg commented on #233
This isn't an intended use case, and the server code isn't designed for
this. Extensible snapshots in the next Stack release will provide a much
easier way to provide custom snapshots.

On Fri, Aug 11, 2017, 5:29 PM Sergey Bushnyak <notifications@github.com>
wrote:

[2017-08-15 19:22] f-f opened #234 "JSON API exists for Snapshots but not for Packages"
Calling `http --json https://www.stackage.org/lts-9.0` gets us a nice json answer with the snapshot content:
[code]

But querying a single package (e.g. `http --json https://www.stackage.org/lts-9.0/package/base-4.9.1.0`) returns instead just the html page for the package.

It would be very nice (and consistent) to have json responses also on package pages, to enable programmatic navigation of Sta

[2017-08-15 20:00] zudov commented on #234
That would indeed be useful.

The implementation should be pretty similar to what we had at #152, only applied to [`Handler.Package.packagePage`](https://github.com/fpco/stackage-server/blob/master/Handler/Package.hs#L63).

[2017-08-15 20:06] f-f commented on #234
Awesome thanks 👍
I'll give this a try.

[2017-09-03 20:55] fgaz commented on #232
Any news?

[2017-09-04 08:48] snoyberg commented on #232
Just chatted with Chris about this. We removed the link originally because it was causing user confusion with uncertainty on how to get started with Stackage. As users standardized on the Stack+Stackage workflow, it made sense to avoid the confusion.

I'm not opposed to adding in information on using with cabal-install again, but in its current state, I don't believe we can advertise the cabal.con

[2017-09-04 12:24] fgaz commented on #232
`--index-state` can do it. Just make the instructions like this:

[code]

[2017-09-04 15:25] DanBurton commented on #232
`cabal` has gained a feature called `--index-state` which allows you to interact with the entire package index as though it were `$snapshot_date` (meaning: without any new versions or revisions that occur after that date). So as long as the cabal.config that we publish works on `$snapshot_date`, we just also publish the date, and users can use this technique to guarantee consistent builds, even de

[2017-09-04 16:37] fgaz commented on #232
I don't really see a problem with the revisions because
1. They are designed to _not_ break anything when used correctly (which is fairly easy to do).
0. Anedoctally, they _do not_ break things in 99% of cases.
0. If you are entrusting your deps' developers with running code on your sistem you should trust them to mantain correct revisions too.

In the improbable case that incorrect revisions brea

[2017-09-05 04:26] snoyberg commented on #232
The fact is that Hackage revisions _have_ broken snapshots in the past, this isn't a theoretical discussion. And the point of Stackage is to give guarantees about build plans, which currently can only be done through Stack (unless someone wants to PR the cabal.config files we generate to include the Hackage file revision info).

To reiterate: there are two different issues here:

* Confusing users

[2017-09-06 19:40] lwm opened #236 "Links to source code with fragment doesn't work for functions"
Follows on from https://github.com/fpco/stackage/issues/2522:

[2017-09-07 11:08] snoyberg commented on #236
The HTML files being referred to ship with GHC itself, and—unless I'm missing something—no anchors exist in the HTML. I think this issue needs to be opened upstream with GHC or Haddock.

[2017-09-07 12:02] lwm commented on #236
Hmmmm ... @ricksanchez, do you feel like moving this upstream to GHC/Haddock (whichever it is)?

Please re-open if there is something that needs to be done here!

[2017-09-07 12:02] #236 closed

[2017-10-12 14:22] tfausak opened #238 "Hoogle search fails"
Trying to search for anything returns an error. For example: https://www.stackage.org/lts-9.8/hoogle?q=spork

<img width="293" alt="screen shot 2017-10-12 at 9 20 31 am" src="https://user-images.githubusercontent.com/408753/31500996-ac48a3dc-af2e-11e7-8cf4-e52e58b7cf06.png">

[2017-10-13 12:00] snoyberg commented on #238
It looks like Hoogle is crashing when creating the database. I'm looking into this. Thanks for the report.

[2017-10-13 13:25] snoyberg commented on #238
I ran the cron job on my local machine, which generated correctly. This is looking more like a resource limit issue than, say, a bug in Hoogle. I'm bumping the memory and CPU limits on the cron job.

[2017-10-14 19:59] snoyberg commented on #238
It looks like the increased limits have gotten it to work. I'm going to close the issue for now. If you notice problems again, please report.

[2017-10-14 19:59] #238 closed

[2017-10-31 22:20] kerscher opened #239 "Slow responses for package documentation"
When accessing pages with routes such as `/:snapshot/package/:package-name` and `/:snapshot/docs`, response times and failure rates are much higher than other pages.

For `/:snapshot/docs`, the difference is more than double the time it takes to access other pages.

[2017-11-01 13:15] snoyberg commented on #239
The /:snapshot/docs should be relatively slow, it's a lot of content. I
don't think we should worry about that unless further stats show it's
requested a lot (which I doubt is the case).

The /package/:package-name is more concerning to me. That's a pretty
database-heavy page, perhaps adding some indices to the database will speed
it up.

On Wed, Nov 1, 2017 at 12:20 AM, Yghor Kerscher <notificati

[2017-11-03 18:10] kerscher commented on #239
Indices added based on load testing data and correspondent handlers query usage. Besides `/package/:package-name`, routes using the following handlers improved, sometimes up to 30–50%:

- `getPackageR`
- `getAllSnapshotsR`
- `getStackageHomeR` (!!!)

The big offenders now are `getPackageBadgeR` and `getBranchFeedR` — the last one by far the biggest offender.

[2017-12-01 01:31] charles-cooper opened #244 "Stackage.com haddock contrast is difficult to read"
Not sure how popular this will be but - while the availability of stackage documentation is **much** better than hackage, I find stackage.com haddocks more difficult to read than hackage because of the color scheme. This is the main reason I still prefer hackage documentation even though it is less available. Blue on blue on blue just doesn't provide enough contrast for my eyes (which are often ti

[2017-12-04 10:05] chrisdone commented on #244
Not a problem, I can increase the contrast more.

[2017-12-04 10:58] chrisdone commented on #244
I've increased the contrast in e607494. Hope this is helpful. Hit Shift-Cmd-R to refresh the CSS on the site.

## Before/after top

<img width="1438" alt="screenshot 2017-12-04 10 55 35" src="https://user-images.githubusercontent.com/11019/33549269-de9e8392-d8e1-11e7-8f98-f0ae53a610be.png">

<img width="1440" alt="screenshot 2017-12-04 10 55 45" src="https://user-images.githubusercontent.com/11019

[2017-12-04 10:58] #244 closed

[2017-12-08 02:08] albertnetymk commented on #172
The above curl query is super fast for me as well. However, the following one takes 30 seconds.

[code]

[2017-12-08 07:55] mgsloan commented on #172
@albertnetymk Ah, interesting!  Yes, I also noticed that things were quite slow recently.  I can reproduce the problem.  I've mentioned it in our internal channels, but also pinging @snoyberg and @borsboom

[2017-12-08 09:04] snoyberg commented on #172
Thank you for the report @albertnetymk, I've temporarily disabled the code that was slowing this down in 75390181c1ebf67e80766b9f69108e4d67df1b51

[2017-12-08 15:24] albertnetymk commented on #172
Thank you very much. It's working fine now.

[2017-12-09 00:32] enolan opened #245 "Images in Haddock stylesheet are missing from S3"
"hslogo-16.png" "minus.gif" and "plus.gif" aren't loading on the production site. Example [here](https://www.stackage.org/haddock/lts-9.2/aeson-1.1.2.0/Data-Aeson.html#g:7).

The URLs are:
- https://s3.amazonaws.com/haddock.stackage.org/byhash/hslogo-16.png
- https://s3.amazonaws.com/haddock.stackage.org/byhash/minus.gif
- https://s3.amazonaws.com/haddock.stackage.org/byhash/plus.gif

[2017-12-10 09:33] snoyberg commented on #245
Thanks for the report, can you confirm that it's working now?

On Sat, Dec 9, 2017 at 2:32 AM, Echo Nolan <notifications@github.com> wrote:

[2017-12-11 06:33] enolan commented on #245
Yep, looks good.

Thanks Michael.

[2017-12-11 06:33] #245 closed

[2017-12-11 06:35] snoyberg commented on #245
No problem, thanks for the report.

On Mon, Dec 11, 2017 at 8:33 AM, Echo Nolan <notifications@github.com>
wrote:

[2017-12-20 04:46] snoyberg commented on #232
I've added a warning about the lack of support for revisions in cabal.config in f9632d734c1ddb05f90ecdb8f91dfd66cef03602. Closing.

[2017-12-20 04:46] #232 closed

[2017-12-27 07:19] CMCDragonkai opened #248 "Is there an API method that shows both LTS/snapshot version and the GHC version (and the base version optionally)?"
Question in title.

[2017-12-27 08:07] snoyberg commented on #248
No, but if you'd like to make a PR to add such a feature, I don't see a
problem with it.

On Wed, Dec 27, 2017 at 9:19 AM, Roger Qiu <notifications@github.com> wrote:

[2018-01-05 09:26] JulianBirch opened #250 "Request: Stable url for hoogle on latest LTS"
The search function on the front page of stackage is much more useful than the hoogle url, but it doesn't take you to a stable url (it updates each time a new lts drops). This prevents us from using it as a search engine within chrome (it'll work for a while, but the lts drops every so often and it won't track latest).

TL;DR; It would be nice if https://www.stackage.org/latest/hoogle?q=unfoldr wa

[2018-01-05 09:56] snoyberg commented on #250
If you use https://www.stackage.org/lts/hoogle?q=unfoldr, it will
automatically redirect to the latest.

On Fri, Jan 5, 2018 at 11:26 AM, Julian Birch <notifications@github.com>
wrote:

[2018-01-05 10:12] #250 closed

[2018-01-12 20:36] psibi commented on #222
This issue is fixed in upstream and Hackage seems to be producing fine but Stackage yet doesn't produce it: https://www.stackage.org/haddock/nightly-2018-01-09/persistent-2.7.1/Database-Persist.html

Whereas hackage is producing it: https://hackage.haskell.org/package/persistent-2.7.3/docs/Database-Persist.html

Both seem to be using the same version of Haddock for producing the pages.

[2018-01-16 14:20] snoyberg commented on #222
It appears to be our custom styling, since adding `?style=plain` to the URL lets it appear:

https://www.stackage.org/haddock/nightly-2018-01-09/persistent-2.7.1/Database-Persist.html?style=plain

@chrisdone did you (or someone else) remove the synopsis bit intentionally?

[2018-02-26 07:01] snoyberg opened #251 "Upgrade 3rd party client side components"
In particular, both jQuery and Bootstrap are outdated and have some known vulnerabilities.

[2018-03-09 23:47] sjakobi opened #252 "stackage.org reports wrong `base` version as "Latest on Hackage""
![bildschirmfoto vom 2018-03-10 00-45-14](https://user-images.githubusercontent.com/3664523/37235136-8d0cf228-23fc-11e8-99c0-48b38121fd16.png)

[2018-03-12 08:34] snoyberg commented on #252
Thanks for the report. I've identified the problem, we just need to update the Cabal library being used. I'll hopefully be pushing out a fix in the next few hours.

[2018-03-12 11:15] snoyberg commented on #252
Looks like it's working now, can you confirm?

[2018-03-12 11:52] sjakobi commented on #252
Works now! Thanks! :)

[2018-03-12 11:52] #252 closed

[2018-03-14 06:33] #222 closed

[2018-03-28 06:10] alexanderkjeldaas opened #254 "Search box should have easy access to search hints."
From https://github.com/fpco/stackage-content/issues/40

It's difficult to know how to narrow a search on stackage.org.

There should be some explanatory text that covers at least how to narrow search down to a specific package.

Ideally it should be possible to "star" a package to prefer results from that package.

[2018-04-05 06:09] snoyberg commented on #254
PR certainly welcome if you'd like to add some explanatory text along these lines. Package-specific search can be performed already on the per-package pages.

[2018-04-12 07:47] v0d1ch opened #255 "Display default page or redirect if package is not found in snapshot"
I was wondering if there is a way to redirect to last snapshot in which the package exists if it is not found in the current one or display some default page instead of:

[code]

[2018-04-15 05:12] snoyberg commented on #255
Can you give an example URL? The package pages themselves already redirect.

On Thu, Apr 12, 2018, 10:47 AM Sasa Bogicevic <notifications@github.com>
wrote:

[2018-04-15 06:38] v0d1ch commented on #255
For example esqueleto in not on 11.1
[https://www.stackage.org/haddock/lts-11.1/esqueleto-2.5.3/Database-Esqueleto.html](https://www.stackage.org/haddock/lts-11.1/esqueleto-2.5.3/Database-Esqueleto.html)
You can google for something in esqeleto package and end up clicking on a link that takes you to stackage which gives you that `NoSuchKey ...`

[2018-04-17 06:49] snoyberg commented on #255
Can you give an example of a page that has such a link to missing docs? It seems strange that such a URL ever would have been generated in the first place.

[2018-04-18 16:42] bsima commented on #232
For reference to anyone googling this, cabal.config files can be found at an address like `https://www.stackage.org/lts-9.21/cabal.config`

(I hope this continues to be published, I find it very useful.)

[2018-08-06 06:44] pythonissam commented on #211
We are trying to contribute to this. After adding necessary changes, we tried to build a server locally, and being stuck with this error:

[code]

What we did is:

* installed PostgreSQL on local
* Created a user `stackage` with same password as user's name
* Created a Stackage DB

Can you help us resolve this error? Thank you.

[2018-08-06 13:13] snoyberg commented on #211
Sorry about that, the docs are out of date. You'll need to run the cron job to create and populate the database. Can you try `stack exec stackage-server-cron`? You'll need to `export PGSTRING=...` first.

[2018-08-17 09:47] pythonissam commented on #211
We tried `stack exec stackage-server-cron`, but it requires credential...

[2018-08-17 12:38] snoyberg commented on #211
You'd have to give it the credentials for your local server.

[2018-08-25 07:31] pythonissam commented on #211
@snoyberg Hmm... then, can you think of anything about this error?

[code]

[2018-08-25 08:34] lehins commented on #211
@pythonissam This is how `amazonka` normally works: AWS credentials are extracted form the environment in a similar way that `aws-cli` does it: you can either place them in
  `$HOME/.aws/credentials` or set them as environment variables
`AWS_ACCESS_KEY_ID` and `AWS_SECRET_ACCESS_KEY`

[2018-08-25 08:43] psibi commented on #211
@lehins I think @pythonissam is trying to setup stackage server locally. Is that possible ?

[2018-08-25 08:50] lehins commented on #211
@psibi I am not really sure, as I never dealt with stackage insides before, but by taking a quick look at the script: https://github.com/fpco/stackage-server/blob/master/src/Stackage/Database/Cron.hs#L78, one of the things it's trying to do is upload a snapshot.json file and hoogledb onto an S3 bucket with name `"haddock.stackage.org"`, which kinda needs AWS credentials ;)

I am just familiar with

[2018-08-25 16:49] psibi commented on #211
@lehins Thanks for the explanation!

@pythonissam Running stackage-server locally seems slight problematic now: https://github.com/fpco/stackage-server/commit/d7a0371cd6d2efaaf7b7fb7f0aff6d4f43512ad6

I'm working on this to resolve this so that stackage-server can be built locally without any issues. I will submit a PR in a couple of days. But if you are curious to try, I have updated the README i

[2018-08-25 18:18] psibi commented on #211
I have created a PR which will hopefully make installation of stackage-server locally easy:   https://github.com/fpco/stackage-server/pull/257

[2018-12-19 16:12] dbaynard commented on #140
<https://packdeps.haskellers.com/licenses> does this for hackage. Details are at the individual package pages, <https://packdeps.haskellers.com/licenses/stack>.

[2018-12-19 16:20] dbaynard opened #259 "License display could be improved"
SPDX support for licenses is not quite right.

For example, [ucam-webauth-types](https://www.stackage.org/package/ucam-webauth-types) can be licensed under BSD3 or Apache 2.0.

The license field is described in hpack and cabal formats respectively, as

[code]

and

[code]

This is then displayed on stackage (and packdeps.haskellers.com) as

Hackage correctly displays this as

[2018-12-20 08:58] snoyberg commented on #259
I think I've addressed the problem in the code at https://github.com/commercialhaskell/all-cabal-tool/commit/114155a24483abc2954f4a4c4a8bb5ccc1130ac5. Now I just need to regenerate all of the files and get the changes onto Github so that Stackage Server can pick them up.

[2018-12-20 11:37] snoyberg commented on #259
This should be displaying correctly now, can you confirm?

[2018-12-20 18:55] snoyberg commented on #259
Yes, it did, and should be addressed now. Thanks for pointing that out too!

[2018-12-20 23:02] dbaynard commented on #259
Great, that too. Thank you

[2018-12-20 23:02] #259 closed

[2018-12-22 09:59] JulianBirch opened #260 "Latest Hoogle is broken"
https://www.stackage.org/lts-12.25/hoogle?q=unfoldr

[2018-12-22 10:42] JulianBirch commented on #260
Appears to be a problem during deployment, but it's okay now. (Possibly the version should be updated after the hoogle db is setup)

[2018-12-22 10:42] #260 closed

[2019-02-25 15:17] DanBurton opened #264 "Update links: haskell-lang -> haskell.fpcomplete"
~ https://github.com/commercialhaskell/stackage/issues/4391

@snoyberg

[2019-02-26 15:02] #264 closed

[2019-08-07 04:02] kevindragon opened #274 "stackage-lts-14.0 does not found"
[code]

[2019-08-07 04:22] snoyberg commented on #274
Should be fixed now, though going forward it's best if you upgrade to Stack
2. Stack 1.9 is using auto-converted legacy Stackage snapshot files which
will not be maintained indefinitely.

On Wed, Aug 7, 2019 at 7:02 AM Kevin Jiang <notifications@github.com> wrote:

[2019-08-08 04:22] kevindragon commented on #274
It's working after upgrade stack to version 2.1.3, thanks.

[2019-08-08 04:22] #274 closed

[2019-09-25 08:24] vaclavsvejcar opened #275 "Hoogle search broken for lts-14.7"
<img width="1081" alt="Snímek obrazovky 2019-09-25 v 10 25 13" src="https://user-images.githubusercontent.com/5843430/65583056-d68dc780-df7e-11e9-831f-e1515f79d1e3.png">

When you try to search Hoogle for the current snapshot (lts-14.7), it fails with error `The given Hoogle database is not available. `(example link: https://www.stackage.org/lts-14.7/hoogle?q=aeson) It works fine for previous snap

[2019-09-25 11:26] snoyberg commented on #275
Thanks, I'm investigating. The cron job was failing to upload to S3, I'm not sure why.

[2019-09-25 11:50] snoyberg commented on #275
Best guess: we're suffering from the same bug as https://github.com/brendanhay/amazonka/issues/546. I just pushed a commit (2701f186cafe882cdc821e4c678526d106be772a) which quite hackily avoids chunked bodies. Let's see if that fixes it, should take 1-2 hours to go through all the build/cron job stuff.

[2019-09-25 14:05] snoyberg commented on #275
Whew, that seems to have worked. Thanks for the report!

[2019-09-25 14:05] #275 closed

[2019-09-29 17:23] DanBurton opened #276 "Package display discrepancy regarding dependencies and READMEs"
@cutculus originally reported the following on commercialhaskell/stackage#3240

Not sure if this is a Stackage issue or a package maintainer issue, so please bear with me.

`tasty-0.11.3` (LTS 10.4) has a dependency on `regex-tdfa` which was [recently removed](https://github.com/feuerbach/tasty/commit/3ea4cce03149dfc419601065da1baabf83637677#diff-04c6e90faac2675aa89e2176d2eec7d8R295) for version `

[2019-10-03 06:57] igrep opened #277 "Too slow response from stackage.org/feed/lts"
The atom feed https://www.stackage.org/feed/lts responds too slowly.
For example `wget https://www.stackage.org/feed/lts` takes about 20 seconds from my desktop.
This seems to cause request timeouts always when the RSS integration of Slack with which we subscribe to https://www.stackage.org/feed/lts.

The RSS integration of Slack in our workspace doesn't notify any updates for more than 4 months.

[2019-10-14 01:02] jkachmar opened #278 ""Contents" sidebar starts overlapping content at 1,280 pixels wide"
Originally from commercialhaskell/stackage#4911 (cc @tfausak)

[2019-10-15 06:54] snoyberg commented on #278
If we append `?style=plain` to the URL, this problem seems to disappear. Can you confirm? If so, it looks like a mismatch between the Stackage custom CSS and the new Haddocks. Options I see are:

1. Turn the custom styling off by default
2. Fix the CSS for the new CSS style
3. Try to do something conditional based on the Haddock version (harder)

I lean towards (1), with (2) open to anybody intere

[2019-10-15 12:33] tfausak commented on #278
Yup, adding `?style=plain` fixes it.

[2019-10-15 13:10] snoyberg commented on #278
The commit above deployed to production, so in theory that query string is no longer necessary.

[2019-12-04 12:55] develop7 commented on #211
@psibi the PR has been merged, but the "missing file .aws/credentials" error is still there; was that intentional?

[2019-12-04 13:09] lehins commented on #211
@develop7 stackage-server-cron has changed quite a bit since that PR has been merged. Unfortunately aws credentials file is required for the cron job due to amazonka, there is no way around it, since it relies heavily on S3.

What you can try is placing an empty file in `.aws/credentials` and running the cron job with `--do-not-upload` flag, which will only use AWS S3 for looking at haddock files,

[2019-12-05 14:09] develop7 commented on #211
@lehins empty `credentials` file was not enough, only bogus credentials and `--do-not-upload` did the job. Thank you for the tip.

[2020-01-13 05:10] #277 closed

[2020-02-13 15:55] ndmitchell opened #284 "LTS 12.26 lost its Hoogle"
I see that LTS 12.26 lost its Hoogle search. https://www.stackage.org/lts-12.26/hoogle?q=filter gives:

Is there any chance of resurrecting Hoogle for that version? It's the last GHC 8.4 release, so there are a few companies that still use it.

[2020-02-13 15:56] snoyberg commented on #284
We just updated Hoogle versions and are regenerating older databases, it takes a while. We typically regenerate 50 LTS snapshots.

[2020-02-13 15:56] ndmitchell commented on #284
Sweet! Thanks a lot!

[2020-02-13 16:18] #284 closed

[2020-03-28 06:15] ndmitchell opened #290 "Windows stack downloads are no longer secure"
The page at https://www.stackage.org/stack/windows-x86_64 is marked as insecure by Google and PowerShell refuses to invoke content from it. This has broken all my CI scripts, because they won't run non-https content.

[2020-03-29 07:50] snoyberg commented on #290
I don't know why it would be saying that. The SSL certs are up to date and redirect to an HTTPS link for github.com. Can you confirm that it is still happening?

[2020-03-30 20:52] ndmitchell commented on #290
Yep, still happening.

![image](https://user-images.githubusercontent.com/1651197/77960729-b396f400-72d0-11ea-802b-22d59ffa8dab.png)

[2020-03-30 21:00] snoyberg commented on #290
I'm going to need more information, since this works fine on all of my systems. My guess is that your system isn't accepting the CA signing the certificate in question (Let's Encrypt).

[2020-03-30 21:55] ndmitchell commented on #290
Hmm, so I'm not totally sure if Chrome is just showing poor UI since I did that from the main page.

The root issue is that when I run:

[code]

On AppVeyor VM's I get:

[code]

It worked last week, and has worked for many months without change. If there's no configuration changed on your end, I'll mark it down as a bug in AppVeyor. The workaround is to switch to:

[code]

Which still works fine.

[2020-03-31 03:31] snoyberg commented on #290
I did change the setup significantly, but all of my testing indicates it's still fine. Maybe it's an old DNS record or something like that. Just to be sure, I ran an SSL test on the site:

![image](https://user-images.githubusercontent.com/49415/77984061-3c398280-7319-11ea-8e31-053794c0b29d.png)

From that, my best guess: are you using an older version of Windows that doesn't have SNI support?

[2020-03-31 20:59] ndmitchell commented on #290
Appveyor is Windows 10, and likely to be a very new one at that. Maybe its stale DNS and will take a while to propagate. Given there's no way to reproduce this directly, and the error message doesn't give us enough to do anything, let's close.

[2020-03-31 20:59] #290 closed

[2020-04-04 17:59] ndmitchell opened #291 "https://www.stackage.org/nightly times out"
The URL https://www.stackage.org/nightly takes forever (~30s), then displays 502 Bad Gateway. Been happening since 23 hours ago, since it takes out the Hoogle nightly update process.

[2020-04-05 07:00] ndmitchell commented on #291
Seems to have recovered.

[2020-04-05 07:12] snoyberg commented on #291
We're still investigating, this will likely continue off and on for a few
days.

On Sun, Apr 5, 2020, 10:00 AM Neil Mitchell <notifications@github.com>
wrote:

[2020-05-11 01:42] AMDmi3 opened #348 "snapshot pages take a long time to fully populate when initially published"
I regularly fetch https://www.stackage.org/nightly file for [Repology](https://repology.org) project to track haskell package versions in Stackage, and it turns out that the file is generated incompletely some times, which can be seen on the graph:

https://repology.org/graph/repo/stackage_nighly/projects_total.svg

[2020-06-08 19:54] mbakke opened #292 "Where did the snapshot JSON feed go?"
Previously `https://www.stackage.org/lts-15.16` returned a JSON response.  Now it does not, even with `Accept: application/json`.  Is there a JSON feed available still?

[2020-06-09 05:48] snoyberg commented on #292
Looks like it's working to me:

[code]

[2020-06-09 06:01] snoyberg commented on #292
Oh, wait, I see the problem: it's bad caching set up on Cloudflare...

[2020-06-09 06:07] snoyberg commented on #292
OK, this should be addressed now. Unfortunately it doesn't look like Cloudflare can key the cache based on `accept` headers, so I've disable caching for these pages.

[2020-06-09 10:55] mbakke commented on #292
I can confirm it is back now.  Thanks for the quick response @snoyberg !

[2020-06-09 10:55] #292 closed

[2020-08-17 16:36] vaclavsvejcar opened #294 ""View changes" page times out"
At least for me, any _View changes_ page (such as https://www.stackage.org/diff/lts-16.9/lts-16.10) just loads really long (>1min) and then times out. I noticed this few days ago, but the problem stil remains. Is this some bug, troubles with infrastructure or just not optimized piece of code responsible for getting the diff of changes?

[2020-08-17 21:57] snoyberg commented on #294
There have been issues with the database queries recently. Most likely we need to add some indices to speed things up, but no one has had a chance to investigate thoroughly yet.

[2020-08-20 18:46] snoyberg commented on #294
Actually, looks like this one was just a misconfiguration at the network level. This should now be working.

[2020-08-20 18:46] #294 closed

[2020-08-20 18:57] snoyberg commented on #291
This should now be fully resolved

[2020-08-20 18:57] #291 closed

[2020-09-01 09:55] hsyl20 commented on #172
I also experience huge slowdowns. According to the `x-envoy-upstream-service-time` header, the time spent (~1min40) to serve a hoogle query isn't a network issue.

![image](https://user-images.githubusercontent.com/96633/91835471-b7e18780-ec49-11ea-924d-a6bd800203bc.png)

[2020-09-21 18:34] vaclavsvejcar opened #295 "stackage.org is down"
Hello,
it seems that for at least entire day the https://stackage.org is down, at least for me (tried multiple times during day from various internet providers). Can you please check that?

Also is there actually any monitoring set up for the Stackage server?

Thanks a lot 🙂

[2020-11-10 21:02] lehins opened #299 "List of all packages page"
The page that lists all packages: https://www.stackage.org/package with their latest versions and snapshots that version is in is extremely expensive and does not seem to be that useful. Considering that there are some performance issues lately with stackage.org (see #295) I suggested we disable this page.

However if anyone feels like such a page is indeed useful, please consider contributing som

[2020-11-10 22:08] lehins opened #300 "List of docs for all modules"
There is a page on stackage.org/SnapshotName/docs which lists all modules available for all packages in a particular snapshot. It has a lot of content and is very expensive. It takes ~10s for me to load on my local clone of stackage. Suggesting to disable it, so we can take the load of stackage.org as a follow up to #295

This issue is very similar to #299 in spirit, so anyone relying on this page

[2021-01-26 16:34] dten opened #305 "Search shows wrong snapshot version"
https://www.stackage.org/lts-16.12/hoogle?q=Aeson

shows search results for lts-17.0

clicking search again navs to

https://www.stackage.org/lts-17.0/hoogle?q=Aeson

![image](https://user-images.githubusercontent.com/1019038/105874253-49380880-5ff4-11eb-8d12-44ecb6171d45.png)

[2021-01-26 17:20] snoyberg commented on #305
I should clarify it better in the display. We were having disk space issues with providing access to all of the Hoogle snapshots, so we now only support a single LTS and a single Nightly. The alternative was causing unnecessary pod ejection.

[2021-01-26 20:15] snoyberg commented on #305
I've added a comment at the top of each search result page, linking back to this issue.

[2021-01-26 20:15] #305 closed

[2021-01-26 20:59] dten commented on #305
Ouch that's a shame but understandable

[2021-03-15 19:06] brandon-leapyear opened #306 "Easy navigation from module page back to package page"
It used to be the case that you could:
1. Go to a package page (e.g. https://www.stackage.org/lts-14.19/package/tasty-1.2.3)
2. Click on a module (e.g. https://www.stackage.org/haddock/lts-14.19/tasty-1.2.3/Test-Tasty.html)
3. Click on "Contents" in the top right
4. Be back on the package page

This is not the case anymore, since LTS 15, I assume due to the upgrade to GHC 8.8. Clicking on "Content

[2021-03-26 03:34] juhp commented on #299
I think this can be closed, right?

[2021-03-26 03:35] juhp commented on #300
We can close this now too, right?

[2021-03-26 03:42] juhp commented on #306
You are right - I am not sure what caused this.
My first assumption would be maybe something changed in haddock.
I dunno if upgrading haddock would get the older behavior back
or if some configuration is needed??

Personally I just go Back in my browser.

[2021-03-26 03:43] lehins commented on #299
I guess Michael wants to keep this page for some reason, so I am closing this ticket.

[2021-03-26 03:43] lehins commented on #300
Same as #299 PR was reverted, so closing.

[2021-03-26 03:57] juhp commented on #299
Hmm still jolly slow

[2021-03-26 04:01] juhp commented on #299
Sorry, I had roughly interpreted the earlier activity to be fix for this.
Then I think we should better keep these open actually.

[2021-03-26 04:03] juhp commented on #300
Thanks for reopening

[2021-03-26 06:18] brandon-leapyear commented on #306
But the Back button wouldn't work if, say, I searched for a specific
function in the stackage hoogle search and went directly to the module page.

On Thu, Mar 25, 2021, 8:42 PM Jens Petersen ***@***.***>
wrote:

[2021-03-29 03:56] juhp opened #308 "Hackage distro data is out of date and no longer being updated"
See haskell/hackage-server#921 and commercialhaskell/stackage#5963.

From my investigation of package versions it looks like:

- the `Stackage` distro data probably corresponds to https://www.stackage.org/nightly-2019-06-20, and

- the latest `LTSHaskell` distro data is for https://www.stackage.org/lts-13.30 (or earliest 13.28) .

(For some reason salak is out of sync for both of them.)

I remembe

[2021-06-21 17:05] juhp commented on #308
This was fixed in commercialhaskell/curator#24.

[2021-06-21 17:05] #308 closed

[2022-04-13 13:08] andreasabel opened #311 ""See all snapshot X appears in" should exclude old `nightly`s by default"
E.g. https://www.stackage.org/package/Cabal/snapshots times out for me, likely because there are too many snapshots `Cabal` appears in, so the page construction takes too long.

But really, I am usually interested in _all __LTS__ snapshots X appears in_.  (And even for LTSs, I am only interested in the latest LTS for each GHC version.)

Maybe restricting the query to the LTSs and the latest nightl

[2022-04-17 04:07] juhp commented on #311
Maybe it makes sense to split it into all LTS snapshots and all Nightly snapshots, at least as a first step.
(I agree with you on latest ghc minors but Stackage hasn't really designed that way, but maybe something can be done.)

[2022-04-17 04:27] juhp commented on #311
Hmm but I am not sure if this will help to fix the root problem - looks like the db queries may be struggling now. :-(
I see the same problem if I try with my own packages...

[2022-04-21 04:21] juhp commented on #311
I am wondering if queries like the one in this report trigger the heavy server db query problems we are seeing.
At least after trying it again today, I am seeing terrible performance again: @snoyberg any thoughts?

[2022-04-21 11:03] snoyberg commented on #311
It turns out to be a bit more complicated to switch to "LTS only", but limiting to only X entries is simple. I've currently limited responses to 50 only. If this actually fixes the issues, we can do the overhaul necessary to make this an LTS-only change instead.

CC @psibi

[2022-08-12 18:47] dten opened #314 "Search not returning results in `base`"
for example i would expect this to list Data.List 's head from base. It seems to recently have stopped doing this
https://www.stackage.org/lts-19.18/hoogle?q=head

[2022-08-13 22:43] brandonchinn178 commented on #314
It seems like any package bundled with GHC is affected. Searching "base" doesn't yield the package either, neither does "mtl", "transformers", etc.

[2022-08-16 14:41] dten commented on #314
seems to not be a problem any more

[2022-08-16 14:41] #314 closed

[2022-09-15 19:01] simonmichael commented on #305
This caused a little confusion in #haskell today. If it's possible, I think having https://www.stackage.org/OLDVERSIONS redirect to https://www.stackage.org/ACTUALLYINDEXEDVERSION would make it much clearer.

[2022-09-15 19:03] simonmichael commented on #305
Sorry, I meant the hoogle urls. Doing a hoogle search at https://www.stackage.org/lts-18.28 currently takes you to https://www.stackage.org/lts-18.28/hoogle?q=test, which is actually showing 19.23 results, hence the confusion.